	{% if NoLayout == false %}
	<!--  start actions-box ............................................... -->
	<div id="actions-box">
		<a href="{{ path('admin_gedmo_content_new', {'NoLayout':NoLayout, 'category':category}) }}" class="action-edit">{{ 'pi.grid.action.create'|trans }}</a>
		<div class="clear"></div>
	</div>
	<!-- end actions-box........... -->
	{% endif %}	
	
	<table id="grid_content"  class="grid" >
	    <thead>
	        <tr>	        
	            <th><a>Id</a></th>	  
	            <th><a>Category</a></th>	
	            <th><a>Descriptif</a></th>        
	            <th><a>Published_at</a></th>	        
	            <th><a>Enabled</a></th>	        
	            <th><a>Actions</a></th>
	        </tr>
	    </thead>
	    <tbody>
	    {% set num_line = 0 %}
	    {% for entity in entities %}
	        <tr {% if(num_line == 0) %}class="odd"{% endif %} id="{{ entity.position }}_row_{{ entity.id }}"  >	
	        	<td><a href="{{ path('admin_gedmo_content_show', { 'id': entity.id, 'NoLayout': NoLayout, 'category':category }) }}">{{ entity.id }}</a></td>
	            <td>
	            {{ entity.category }}
	            </td>	
	            <td>
	            {{ entity.descriptif|limite("0", 55)|raw }}
	            </td>	
	            <td>{% if entity.publishedat %}{{ entity.publishedat|date('Y-m-d') }}{% endif%}</td>	
	            <td class="enabled" >
	            {{ entity.enabled }}
	            </td>	
				<td>
					<a href="{{ path('admin_gedmo_content_show', { 'id': entity.id, 'NoLayout':NoLayout, 'category':category }) }}" title="{{ 'pi.grid.action.show'|trans }}" class="icon-3 info-tooltip" >&nbsp;</a>
					<a href="{{ path('admin_gedmo_content_edit', { 'id': entity.id, 'NoLayout':NoLayout, 'category':category }) }}" title="{{ 'pi.grid.action.edit'|trans }}" class="icon-1 info-tooltip" >&nbsp;</a>
				</td>	
	        </tr>
	        {% if num_line == 0 %} 
	        	{% set num_line = 1 %}
	        {% else %}
	        	{% set num_line = 0 %}
	        {% endif %}	
	                
	    {% endfor %}
	    </tbody>
	</table>

	{% set options_gridtabale = {'grid-name': 'grid_content', 'grid-type':'simple', 'grid-paginate':'false',
		'grid-filters': {
				'1':'Identifiant',
				'2':'Category',
				'3':'Descriptif',
				'4':'Date Publish',
				'5':'Enable' 
			},
		'grid-sorting': { 
				'1':'desc',
			},	
		'grid-actions': {
				'rows_grouping': {'columnIndex':1, 'Collapsible':'true'},
				'rows_enabled': {'sButtonText':'pi.grid.action.row_enabled', 'route':'admin_gedmo_content_enabledentity_ajax',},
				'rows_disable': {'sButtonText':'pi.grid.action.row_disable', 'route':'admin_gedmo_content_disablentity_ajax'},
				'rows_delete': {'sButtonText':'pi.grid.action.row_delete', 'route':'admin_gedmo_content_deletentity_ajax'},
				'select_all': {'sButtonText':'pi.grid.action.select_all'},
				'select_none': {'sButtonText':'pi.grid.action.select_none'},
			}				
		} 
	%}
	{{ renderJquery('GRID', 'grid-table', options_gridtabale )|raw }}