{% stylesheet "bundles/piappadmin/css/layout/pi/models/layout-pi-model-base.css" %}
{% stylesheet "bundles/piappadmin/css/layout/pi/models/layout-pi-model-three-fluid-columns.css" %}
{% extends "PiAppTemplateBundle::Template\\Layout\\layout-global.html.twig" %}

{% block global_title %}{{ parent() }}{% endblock %}

{% block global_meta %}{{ parent() }}{% endblock %}

{% block global_script_divers %}{{ parent() }}{% endblock %}

{% block global_layout %}

<div id="global">

	<div id="entete">
		{% block pc_header %}
		<h1>
			<img src="bundles/piappadmin/css/layout/pi/models/picto/09.png" alt="">
			Orchestra - Content Management Framework
		</h1>
		<p class="sous-titre">
			<strong>Caractéristiques:</strong>
			minimaliste,
			largeur fluide,
			colonnes latérales positionnées en absolu
		</p>
		{% endblock %}
	</div><!-- #entete -->

	<div id="centre">
		<div id="navigation">
			{% block pc_menuwrapper %}
			<ul>
				<li><a href="index.html">Accueil</a></li>
				<li><a href="liste.html">Tous les gabarits</a></li>
				<li><a href="utiliser.html">Utilisation</a></li>
				<li><a href="licence.html">Licence</a></li>
				<li><a href="credits.html">Crédits</a></li>
			</ul>
			{% endblock %}
		</div><!-- #navigation -->

		<div id="principal">
			{% block pc_content %}
			<h2>À propos du gabarit 09</h2>
			<h3>Code HTML et CSS</h3>
			<p>Ce gabarit est structuré de la manière suivante:</p>

			<p>Il est mis en forme par deux feuilles de styles:</p>
			<ol>
				<li><a href="styles/base.css">base.css</a> (mise en forme minimale
				du texte, commune à tous les gabarits)</li>
				<li><strong><a href="styles/modele09.css">modele09.css</a></strong>,
				qui contient tous les styles propres à ce gabarit, et que je vous
				invite à consulter.</li>
			</ol>
			{% endblock %}
		</div><!-- #principal -->

		<div id="secondaire">
			{% block pc_content_secondaire %}
			<h3>Contenu secondaire</h3>
			<p>Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat.</p>
			<p>Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus rutrum augue.</p>
			{% endblock %}
			
			<p id="copyright">
				{% block pc_footer %}
				<a href="{{ path('pi_layout_choisir_langue', {'langue' : 'fr'}) }}" title="">FR</a> | <a href="{{ path('pi_layout_choisir_langue', {'langue' : 'en'}) }}" title="">EN</a> | 
				<a href="www.cmf-orchestra.net" title="">cmf-orchestra.net</a> |  
				<span>Mise en page d'après Elephorm et Alsacréations: www.alsacreations.com/gabarits</span>
				{% endblock %}
			</p>
			
		</div><!-- #secondaire -->

	</div><!-- #centre -->

</div><!-- #global -->
				     
{% endblock %}