{%  initJquery 'FORM:prototype-bytab' %}
{% if NoLayout %}
	{% set layout_nav = 'PiAppTemplateBundle::Template\\Layout\\layout-ajax.html.twig' %}
{% else %}
	{% set layout_nav = app.session.get('wurfl-layout') %}
{% endif %}	
{% extends layout_nav %}

{% block title %}
	<h1>Partenaires</h1>
{% endblock %}
 
{% block content %}

	<!-- Begin tag markup -->
	<div id="tabs">
		<ul>
			<li>
				<a href="#tabs-1" title="{{ 'pi.form.title.default.create'|trans }}">{{ 'pi.form.title.default.create'|trans }}</a>
				<span class="ui-icon ui-icon-close">Remove Tab</span>
			</li>
		</ul>

		{% form_theme form getParameter('pi_app_admin.layout.template.form') %}
		<form class="myform" action="{{ path('admin_gedmo_partner_create', { 'NoLayout': NoLayout }) }}" method="post" {{ form_enctype(form) }} novalidate>
		    <div id="tabs-1">
		    	{{ form_widget(form) }}
		    </div>
		    <p>
		        <!-- <input id="add_tab" type="button" value="{{ 'pi.grid.action.add-tab'|trans }}" /> -->
		        <button type="submit">{{ 'pi.grid.action.create'|trans }}</button>
		    </p>		    
		</form>
		
	</div>
	<!-- End tag markup -->	
	
	{% set options = {'prototype-name': ['translations'], 'prototype-tab-title': 'Translate'} %}
	{{ renderJquery('FORM', 'prototype-bytab', options )|raw }}		
		
	<ul class="record_actions">
		<li>
	        <form action="{{ path('admin_gedmo_partner', { 'NoLayout': NoLayout }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
		</li>		
	</ul>
{% endblock %}