<section id="presse">
    <div id="infoCenter" class="flexcroll">
        <section class="hidden_content" style="display: block;">
    		{% for entity in entities %}
    			{% if loop.index <8 %}
	           		 <section class="bloc_presse">
		                <h4>{{ entity.title }}</h4><br clear="all"/>
		                <div>{{ entity.origin }}   Le: {{ entity.publishedat|date('m/d/Y') }}</div>
		                {#
		                {% if entity.image not empty %}
                		<a href="#" title="">
							{{ getService('sonata.media.twig.extension').media(entity.image1, 'reference', {'title': entity.image.authorname, 'alt': entity.image.authorname})|raw }}<div>(321,06kB)</div>
						</a>
						{% endif %}
						#}
	            	</section>
            	{% endif %}
            {% endfor %}
            <div class="button_lnk"><a href="{{ archivesLink }}">ARCHIVES</a></div>
        </section>
    </div>
    <div id="infoCenter-flexcroll-vscroller"><div class="flexcroll-scrollbar"></div></div>
    <!--FIN ID="infoCenter"-->
</section>