{% set layout_nav = app.request.attributes.get('orchestra-layout') %}
{% extends layout_nav %}

{% block title %}Contact{% endblock%}

{% block content %}

    <form action="{{ path('public_contact') }}" method="post" {{ form_enctype(form) }} class="email-contact">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

      <input type="submit" />
    </form>
{% endblock %}
