{% extends app.session.get('wurfl-layout') %}

{% block content %}
	
	<table class="table zebra-striped">
	<tr>
	    <th>{{ categories.sortable('Title', 'c.title')|raw }}</th>
	    <th>{{ categories.sortable('Description', 'c.description')|raw }}</th>
	    <th>{{ categories.sortable('Slug', 'c.slug')|raw }}</th>
	    <th>{{ categories.sortable('Updated', 'c.updated')|raw }}</th>
	    <th>Actions</th>
	</tr>
	
	{% for category in categories %}
	<tr>
	    <td><a href="{{ path('demo_category_show', {'slug': category.slug}) }}">{{ category.title }}</a></td>
	    <td>{{ category.description }}</td>
	    <td>{{ category.slug }}</td>
	    <td>{{ category.updated|date('Y-m-d H:i:s') }}</td>
	    <td width="15%">
	        <a href="{{ path('demo_category_edit', {'id': category.id}) }}">Edit</a>
	        <a href="{{ path('demo_category_show', {'slug': category.slug}) }}">Show</a>
	        <a href="{{ path('demo_category_delete', {'id': category.id}) }}" 
	           onclick="return confirm('Are you sure you want to delete {{ category.title }} ?');"
	        >Delete</a>
	    </td>
	</tr>
	{% endfor %}
	</table>
	
	{{ categories.render()|raw }}

{% endblock %}
