	<form action="{{ path('admin_gedmo_menu_node_create', {'category':category}) }}" method="post" {{ form_enctype(form) }} novalidate >
		<table>
		    <tr>
				{{ form_errors(form) }}
		    </tr>		
		    <tr>
		    	<td>{{ form_label(form.parent) }}</td>
		    	<td>{{ form_label(form.category) }}</td>
				<td>{{ form_label(form.title) }}</td>
				<td>{{ form_label(form.page) }}</td>
		    </tr>
		    <tr>
				<td>
				{{ form_errors(form.parent) }}
				{{ form_widget(form.parent) }}
				</td>			    
				<td>
				{{ form_errors(form.category) }}
				{{ form_widget(form.category) }}
				</td>		    
				<td>
				{{ form_errors(form.title) }}
				{{ form_widget(form.title) }}
				</td>
				<td>
				{{ form_errors(form.page) }}
				{{ form_widget(form.page) }}
				</td>
				<td>
					<input type="submit" />
				</td>				
		    </tr>
		</table>
	</form>