	<script type="text/javascript">
	//<![CDATA[
	
		$(document).ready(function() {		
		    $('a.tree-reorder-link').click(function () {
		        var link = $("select[name='select-root-category'] option:selected").attr('value');
		        $(this).attr('href', link + $(this).attr('href'));
		        return true;
		    });
		    
		    $("a.tree-action").click(function(){
		    	var url = $(this).data('url');
		    	$("#tree-dialog").attr('title', 'Edit node');
		    	$("#tree-dialog").wijdialog({
			    	width: 450,
			    	height: 600,
			    	zIndex: 99999,
			    	contentUrl: url, 
			    	autoOpen: true,
			    	modal: true,        						    	
			    	open: function () {
			    		$(this).attr('title', 'Formulaire');
			    		$(this).find('iframe').attr('style', 'overflow: hidden;width: 99%;height: 99%');
					},
					close: function () {
						window.location.reload(true);
					}
			    });
			});		    
		    
			$("h3.tree-node").click(function (){
				var id   = $(this).next('div.acc-section').next('a.tree-menu').data('id');
				$('#tree_resultats_recherche_'+id).html('');
			});		 
			
			$("#categorysearch_category").multiselect({
			   multiple: false,
			   noneSelectedText: "Select an Option",
			   selectedList: 1
			}).multiselectfilter();
			
			$("form button[type='submit']").button();
		});

	//]]>
	</script>
	
	<div id="tree-dialog" >&nbsp;</div>

	<form id="form_recherche" action="{{ path('admin_gedmo_menu_tree', { 'category': category, 'NoLayout':NoLayout}) }}" method="post">
		<table>
		    <tr>
				<td>
				{{ form_widget(form_search.category) }}
				</td>
				<td>
					<button type="submit" style="font-size:10px;" >OK</button>
				</td>				
		    </tr>
		</table>		
	</form>	
	
	<br />
			
	{% if tree %}
		<div id="tree">
		    {{ tree|raw }}
		</div>
	{% else %}
		<div class="alert-message info"><p>There are no nodes in tree to display</p></div>
	{% endif %}

	{% set options_tiny = {'id': 'acc_'} %}
	{{ renderJquery('ACCORDEON', 'tiny', options_tiny )|raw }}
	
	<div class="tinyoptions">
		<a href="{{ path("admin_gedmo_menu", { 'NoLayout':NoLayout}) }}" >{{ 'pi.dashboard.menu4.menu'|trans }} Management</a>
	</div>
	
	{% if (NoLayout != true) %}
		{% set options_chartpage = {
			'id':'orga',
			'entity':'Menu',
			'category':category,
			'action':'renderDefault',
			'menu': 'organigram',
			'enabledonly':'false',
			'fields':{'0':{'content':'title', 'class':'pi_tree_desc'},'1':{'content':'leftright'}}
		} %}
		{{ renderJquery('MENU', 'org-chart-page', options_chartpage )|raw }}
	{% endif %}