	<script type="text/javascript">
	//<![CDATA[
	
		$(document).ready(function() {		
		    $('a.tree-reorder-link').click(function () {
		        var link = $("select[name='select-root-category'] option:selected").attr('value');
		        $(this).attr('href', link + $(this).attr('href'));
		        return true;
		    });
		    
		    $("a.tree-action").click(function(){
		    	var url = $(this).data('url');
		    	$("#tree-dialog").attr('title', 'New node');
		    	$("#tree-dialog").html('<iframe id="modalIframeId" width="100%" height="100%" marginWidth="0" marginHeight="0" frameBorder="0" scrolling="auto" src="'+url+'" />').dialog({
			    	width: 670,
			    	height: 600,
			    	autoOpen: true,
			    	modal: true,        						    	
			    	open: function () {
			    		$(this).attr('title', 'Formulaire');
			    		$(this).find('iframe').attr('style', 'overflow: hidden;width: 99%;height: 99%');
					},
					close: function () {
						window.location.reload(true);
					}					
			    });
			});		    
		    
			$("h3.tree-node").click(function (){
				var id   = $(this).next('div.acc-section').next('a.tree-menu').data('id');
				$('#tree_resultats_recherche_'+id).html('');
			});		 
			
			$("#categorysearch_category").multiselect({
			   multiple: false,
			   noneSelectedText: "Select an Option",
			   selectedList: 1
			}).multiselectfilter();
			
			$("form button[type='submit']").button();

			$(".image-fixed-left").attr('style','display:none');
			$(".image-fixed-right").attr('style','display:none');

			$("a.button-ui-exand").button({icons: {primary: "ui-icon-circle-plus"}}).click(function( event ) {
			    event.preventDefault();
			    accordeon_tab["0"].pr(1)
        	});
            $("a.button-ui-collapse").button({icons: {primary: "ui-icon-circle-minus"}}).click(function( event ) {
			    event.preventDefault();
			    accordeon_tab["0"].pr(-1)
        	});
            $("a.button-ui-back-list").button({icons: {primary: "ui-icon-arrowreturn-1-w"}});
            $("a.button-ui-create").button({icons: {primary: "ui-icon-plus"}});			
		});

	//]]>
	</script>
	
	<div id="tree-dialog" >&nbsp;</div>
	
	<form id="form_recherche" action="{{ path('admin_gedmo_organigram_tree', { 'category': category, 'NoLayout':NoLayout}) }}" method="post">
		<table>
		    <tr>
				<td>
				{{ form_widget(form_search.category) }}
				</td>
				<td>
					<button type="submit" style="font-size:10px;" >OK</button>
				</td>		
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>
		            <a href='' class="button-ui-exand">Exand All</a>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
                <td>
		            <a href='' class="button-ui-collapse">Collapse All</a>	
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
                <td>
		            <a href="{{ path("admin_gedmo_organigram", { 'NoLayout':NoLayout}) }}" class="button-ui-back-list">{{ 'pi.dashboard.menu4.menu'|trans }} Management</a>		
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
                <td>
		            <a href="{{ path('admin_gedmo_organigram_new', {'NoLayout':NoLayout}) }}" class="button-ui-create">{{ 'pi.grid.action.create'|trans }}</a>		
				</td>
		    </tr>
		</table>		
	</form>	
	
	<br />
	
	{% if tree %}
		<div id="tree">
		    {{ tree|raw }}
		</div>
	{% else %}
		<div class="alert-message info"><p>There are no nodes in tree to display</p></div>
	{% endif %}
	
	{% set options_tiny = {'id': 'acc_'} %}
	{{ renderJquery('ACCORDEON', 'tiny', options_tiny )|raw }}	
	
	{% if (NoLayout != true) %}
		{% set options_chartpage = {
			'id':'orga',
			'entity':'PiAppGedmoBundle:Organigram',
			'category':category,
			'action':'renderDefault',
			'menu': 'organigram',
			'enabledonly':'false',
			'fields':{'0':{'content':'title', 'class':'pi_tree_desc'},'1':{'content':'descriptif'},'2':{'content':'question'},'3':{'content':'leftright'}}
		} %}
		{{ renderJquery('MENU', 'org-chart-page', options_chartpage )|raw }}
	{% endif %}