				<section id="news">
					<div class="leftColumn fleft">
						
						{% set step0 = entities|steps(0) %}				
						{% if step0 is not empty %}
							<section class="whatIsHot whatsHotNews">
								<div class="whatsHotSectionHeader">
									{% if step0.media.image.id is defined %}
									{#{{ getService('sonata.media.twig.extension').media(step0.media.image, 'reference', {'title': '', 'alt': '', 'width':'486px', 'height':'237px'})|raw }}#}
									<img src="#" delayedsrc="{{ media_url(step0.media.mediaId, 'reference', true, step0.media.getUpdatedAt(), 'sicap_news_') }}" title="" alt="" width="486px" height="237px" />
									{% endif %}
								</div>
	                            <div class="whatsHotruban"><span>{{ step0.translate(locale).getTitle()|limite("0", 55)|raw }}</span></div>
	                            <div class="sectionContent">
	                                <div class="whatsHotImgCaption">
										{{ step0.translate(locale).getDescriptif()|replace({'<p>': '', '</p>': ''})|raw }}
	                                </div>
	                                <p class="text">
										{{ step0.translate(locale).getContent()|replace({'<p>': '', '</p>': ''})|raw }} 
	                                </p>
	                                <div class="text">
	                                	{{ step0.publishedat|localedate('long','medium', locale, 'EEEE, LLLL d, y') }}
	                                </div>
		                            {%  set url = "#" %}
		                            {% if step0.pagedetail.getId() is defined %}
		                            	{%  set url = path_url(step0.pagedetail.getRouteName(), {'locale':app.session.locale, 'slug':step0.translate(app.session.locale).getSlug()}) %}
		                            {% endif %}                                
	                                <div class="clearfix row">
	                                    <a href="{{ url }}" title="MoreInfo" class="btnVertWhatsHot fright"><span class="btnVertFlecheWhatsHot">Read More</span></a> 
	                                </div>
	                            </div>
							</section>
						{% endif %} 
						
						{% set step1 = entities|steps(1) %}				
						{% if step1 is not empty  %}
							<section class="theNews">
	                            <h1 class="theNewsTitle">{{ step1.translate(locale).getTitle()|limite("0", 55)|raw }}</h1>
	                            <div class="theNewsCaption">
	                            	{{ step1.translate(locale).getDescriptif()|replace({'<p>': '', '</p>': ''})|raw }}
	                            </div>
	                            <p class="text">
	                            	{{ step1.translate(locale).getContent()|replace({'<p>': '', '</p>': ''})|raw }}  
	                            </p>
	                            <div class="text">
	                            	{{ step1.publishedat|localedate('long','medium', locale, 'EEEE, LLLL d, y') }}
	                            </div>
		                            {%  set url = "#" %}
		                            {% if step1.pagedetail.getId() is defined %}
		                            	{%  set url = path_url(step1.pagedetail.getRouteName(), {'locale':app.session.locale, 'slug':step1.translate(app.session.locale).getSlug()}) %}
		                            {% endif %}                            
	                            <div class="clearfix row">
	                                <a href="{{ url }}" title="MoreInfo" class="btnVertNews fright"><span class="btnVertFlecheNews">Read More</span></a> 
	                            </div>
	                        </section>
	                    {% endif %} 
					</div>
					
					{% set all_others = entities|sliceTab(2) %}
					{% if all_others is not empty %}
					<div class="rightColumn fright">
						{% for entity in all_others %}
							<section class="{% if loop.last %}lastSicapNews{% endif %} oneSicapNews {% if loop.index0 is even %}bkgrey{% endif %}">
	                            <h1 class="title">{{ entity.translate(locale).getTitle()|limite("0", 55)|raw }}</h1>
	                            <p class="text">
	                                {{ entity.translate(locale).getDescriptif()|replace({'<p>': '', '</p>': ''})|raw }}
	                            </p>
	                            <div class="text">
	                            	{{ entity.publishedat|localedate('long','medium', locale, 'EEEE, LLLL d, y') }}
	                            </div>
	                            {%  set url = "#" %}
	                            {% if entity.pagedetail.getId() is defined %}
	                            	{%  set url = path_url(entity.pagedetail.getRouteName(), {'locale':app.session.locale, 'slug':entity.translate(app.session.locale).getSlug()}) %}
	                            {% endif %}
	                            <div class="clearfix row">
	                                <a href="{{ url }}" title="MoreInfo" class="btnVertNews fright"><span class="btnVertFlecheNews">Read More</span></a> 
	                            </div>
	                        </section>
						{% endfor %}
					</div>
					{% endif %} 
					
					{% if pagination is defined %}
                    	{{ pagination.render('PiAppTemplateBundle:Template\\pagination:sliding.html.twig')|raw }}
                    {% endif %}
                    
				</section>