{%  initJquery 'FORM:prototype-bytab' %}
{% if NoLayout %}
	{% set layout_nav = 'PiAppTemplateBundle::Template\\Layout\\layout-ajax.html.twig' %}
{% else %}
	{% set layout_nav = app.session.get('wurfl-layout') %}
{% endif %}	
{% extends layout_nav %}

{% block title %}
	<h1>News</h1>
{% endblock %}
 
{% block content %}

	<!-- Begin tag markup -->
	<div id="tabs">
		<ul>
			<li>
				<a href="#tabs-1" title="{{ 'pi.form.title.default.update'|trans }}">{{ 'pi.form.title.default.update'|trans }}</a> 
				<span class="ui-icon ui-icon-close">Remove Tab</span>
			</li>
		</ul>

		{% form_theme edit_form getParameter('pi_app_admin.layout.template.form') %}
		<form class="myform" action="{{ path('admin_gedmo_news_update', { 'id': entity.id, 'NoLayout': NoLayout }) }}" method="post" {{ form_enctype(edit_form) }} novalidate>
		    <div id="tabs-1">
		    	{{ form_widget(edit_form) }}
		    </div>
		    <p>
		        <!-- <input id="add_tab" type="button" value="{{ 'pi.grid.action.add-tab'|trans }}" /> -->
		        <button type="submit">{{ 'pi.grid.action.save'|trans }}</button>
		    </p>		    
		</form>
		
	</div>
	<!-- End tag markup -->	
	
	{% set options = {'prototype-name': ['translations'], 'prototype-tab-title': 'Translate'} %}
	{{ renderJquery('FORM', 'prototype-bytab', options )|raw }}
		
		
	<ul class="record_actions">
		<li>
	        <form action="{{ path('admin_gedmo_news', { 'NoLayout': NoLayout }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
		</li>
			
		{% if NoLayout == false %}
	    <li>
	        <form action="{{ path('admin_gedmo_news_delete', { 'id': entity.id, 'NoLayout':NoLayout }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button type="submit">{{ 'pi.grid.action.delete'|trans }}</button>
	        </form>
	    </li>
	    {% endif %}
	</ul>
	
	{% if entity.media.image is defined %}
	{{ picture_form(entity.media.image, 'piapp_gedmobundle_newstype_media_image_binaryContent', 'reference')|raw }}
	{% endif %}	
	
	<script type="text/javascript">
	//<![CDATA[

			//j_prototype_bytabs.ftc_dialog_form("content_collection", "Information", ".myform", 400, 377, "center");
			j_prototype_bytabs.ftc_accordion_form("information_collection", "{{ 'pi.news.form.group.information'|trans }}", ".myform");

			//j_prototype_bytabs.ftc_dialog_form("left_picture", "Left picture", ".myform", 400, 366, "center");
			j_prototype_bytabs.ftc_accordion_form("image_collection", "{{ 'pi.news.form.group.pictures'|trans }}", ".myform");

	        //j_prototype_bytabs.ftc_dialog_form("page_collection", "Pages", ".myform", 400, 766, "center");
	        j_prototype_bytabs.ftc_accordion_form("page_collection", "{{ 'pi.news.form.group.links'|trans }}", ".myform");

	      //j_prototype_bytabs.ftc_dialog_form("solution_descriptif", "Descriptif", ".myform", 400, 366, "center");			
			j_prototype_bytabs.ftc_accordion_form("meta_definition", "SEO", ".myform");			        
								
	//]]>
	</script>
{% endblock %}		