<script type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
        $('#form-connexion-block').on('submit', function(e) {
			e.preventDefault()
	        
        	var _username 	= jQuery(this).find('input[name="_username"]').val();
        	var _password 	= jQuery(this).find('input[name="_password"]').val();
        	var _csrf_token = jQuery(this).find('input[name="_csrf_token"]').val();
        	// var _return = true;
        	
            $.ajax({
                url: $(this).attr('action'),
                data: "_username="+_username+"&_password="+_password+"&_csrf_token="+_csrf_token,
                type: $(this).attr('method'),
                success: function(html) {
                	if ( /Bad credentials/i.test(html)==true ) {
                		// alert("Erreur de connexion");
                		$('#form-connexion-block').addClass('errorConnect');
                	} else {
                		{% if referer_url != "" %}
                		document.location.href = "{{ referer_url }}";
                		{% else %}
                		window.location.reload();
                		{% endif %}
                	}
                }
            });
        });
    });
//]]>
</script> 

<div class="fleft">
	<section class="bloc-connexion">
		<div class="wrap">
			<div class="content">
				<form method="POST" action="{{ path('fos_user_security_check') }}" id="form-connexion-block"  class="cf">
					<div class="title-border-simple cf">
						<h3 class="tt-3 tt-clr bold fleft">Déjà inscrit ? Identifiez-vous</h3>
					</div>
					<fieldset class="resetBorder">
						<p class="error resetM">pseudo ou email invalide</p>
						<div class="row">
							<input class="required text" type="text" id="_username" name="_username" value="{% if error %}{{ error }}{% elseif last_username is not empty  %}{{ last_username }}{% else %}Identifiant*{% endif %}">
						</div>
						<div class="row">
							<input class="required text" type="password" id="_password" name="_password" value="mot de passe">
						</div>
						<a href="{{ path('fos_user_resetting_request') }}" class="tt-clr underline popin-pass fancybox.ajax">Mot de passe oublié?</a>
						
						<div class="button-ct">
							<input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ csrf_token }}" />
							<input type="submit" value="JE ME CONNECTE" class=" nextStep">
						</div>
					</fieldset>
					<div class="title-border-simple cf">
						<h3 class="tt-3 tt-clr bold fleft">Je m'inscris gratuitement</h3>
					</div>
					<ul class="disc">
						<li class="tt-clr"><p>Bénéficiez d’une inscription gratuite à l’ensemble des newsletters que vous avez sélectionnez</p></li>
						<li class="tt-clr"><p>Gagnez du temps lors de vos prochaines inscriptions aux évènements Mêlée, la plupart des champs du formulaire sont déjà pré-remplis</p></li>
						<li class="tt-clr last"><p>Consultez et déposez librement l’ensemble des annonces de l’ « Espace Emploi »</p></li>
					</ul>
					<div class="button-ct">
						<a href="{{ path_url('page_lamelee_header_inscription', {'locale':app.session.locale}) }}" class="button purple"><!--
							--><span>Je m'inscris</span><!--
						--></a>
					</div>
					<div class="title-border-simple cf">
						<h3 class="tt-3 tt-clr bold fleft">Je souhaite devenir adhérent</h3>
					</div>	
						<ul class="disc">
							<li class="tt-clr"><p>Bénéficiez d’une inscription gratuite à l’ensemble des newsletters que vous avez sélectionné</p></li>
							<li class="tt-clr"><p>Gagnez du temps lors de vos prochaines inscriptions aux évènements Mêlée, la plupart des champs du formulaire sont déjà pré-remplis</p></li>
							<li class="tt-clr"><p>Consultez et déposez librement l’ensemble des annonces de l’ « Espace Emploi »</p></li>
							<li class="tt-clr"><p>Bénéficiez d’une inscription gratuite à l’ensemble des newsletters que vous avez sélectionné</p></li>
							<li class="tt-clr"><p>Gagnez du temps lors de vos prochaines inscriptions aux évènements Mêlée, la plupart des champs du formulaire sont déjà pré-remplis</p></li>
							<li class="tt-clr last"><p>Consultez et déposez librement l’ensemble des annonces de l’ « Espace Emploi »</p></li>
						</ul>
					<div class="button-ct">
						<a href="{{ path_url('page_lamelee_adhesion', {'locale':app.session.locale}) }}" class="button purple"><!--
							--><span>J'adhere a la melee numerique</span><!--
						--></a>
					</div>
				</form>
			</div>
		</div>
	</section>		
</div>