	<form action="{{ path('admin_gedmo_organigram_node_create', {'category':category}) }}" method="post" {{ form_enctype(form) }} novalidate >
		<table>
		    <tr>
				{{ form_errors(form) }}
		    </tr>		
		    <tr>
		    	<td>{{ form_label(form.parent) }}</td>
				<td>{{ form_label(form.title) }}</td>
				<td>{{ form_label(form.descriptif) }}</td>
				<td>{{ form_label(form.content) }}</td>
				<td>{{ form_label(form.page) }}</td>
				<td>{{ form_label(form.image) }}</td>
		    </tr>
		    <tr>
				<td>
				{{ form_errors(form.parent) }}
				{{ form_widget(form.parent) }}
				</td>			    
				<td>
				{{ form_errors(form.title) }}
				{{ form_widget(form.title) }}
				</td>
				<td>
				{{ form_errors(form.descriptif) }}
				{{ form_widget(form.descriptif) }}
				</td>
				<td>
				{{ form_errors(form.content) }}
				{{ form_widget(form.content) }}
				</td>								
				<td>
				{{ form_errors(form.page) }}
				{{ form_widget(form.page) }}
				</td>
				<td>
				{{ form_errors(form.image) }}
				{{ form_widget(form.image) }}
				</td>				
				<td>
					{{ form_widget(form.content) }}
					<input type="submit" />
				</td>				
		    </tr>
		</table>
	</form>