{% initJquery 'GRID:grid-table' %}
{% stylesheet getParameter('pi_app_admin.admin.grid_theme_css') %}
{% extends app.session.get('wurfl-layout') %}

{% block title %}
	<h1>Css/Js list</h1>
{% endblock %}
 
{% block content %}
	<table id="grid_cssjs" >
	    <thead>
	        <tr>
	            <th><a href="">Id</a></th>
	            <th><a href="">Url</a></th>
	            <th><a href="">Meta_content_type</a></th>
	            <th><a href="">Cacheable</a></th>
	            <th><a href="">Public</a></th>
	            <th><a href="">Lifetime</a></th>
	            <th><a href="">Enabled</a></th>
	            <th><a href="">Actions</a></th>
	        </tr>
	    </thead>
	    <tbody>
	    {% set num_line = 0 %}
	    {% for entity in entities %}
	        <tr {% if(num_line == 0) %}class="odd"{% endif %} id="{{ entity.id }}_row_{{ entity.id }}"  >
	            <td><a href="{{ path('admin_pagebytrans_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>{{ entity.url }}</td>
	            <td>{{ entity.metacontenttype }}</td>
	            <td>{{ entity.cacheable }}</td>
	            <td>{{ entity.public }}</td>
	            <td>{{ entity.lifetime }}</td>
	            <td class="enabled" >{{ entity.enabled }}</td>
	            <td>
					<a href="{{ path('admin_pagecssjs_show', { 'id': entity.id }) }}" title="{{ 'pi.grid.action.show'|trans }}" class="icon-3 info-tooltip">&nbsp;</a>
					<a href="{{ path('admin_pagecssjs_edit', { 'id': entity.id }) }}" title="{{ 'pi.grid.action.edit'|trans }}" class="icon-1 info-tooltip">&nbsp;</a>
	            </td>
	        </tr>
	        {% if num_line == 0 %} 
	        	{% set num_line = 1 %} 
	        {% else %}
	        	{% set num_line = 0 %}
	        {% endif %}
	    {% endfor %}
	    </tbody>
	</table>
	
	<!--  start actions-box ............................................... -->
	<div id="actions-box">
		<a href="" class="action-slider"></a>
		<div id="actions-box-slider">
			<a href="" class="action-edit">{{ 'pi.grid.action.edit'|trans }}</a>
			<a href="" class="action-delete">{{ 'pi.grid.action.delete'|trans }}</a>
			<a href="{{ path('admin_pagecssjs_new') }}" class="action-edit">{{ 'pi.grid.action.create'|trans }}</a>
		</div>
		<div class="clear"></div>
	</div>
	<!-- end actions-box........... -->
	
	{% set options_gridtabale = {'grid-name': 'grid_cssjs', 'grid-type':'simple', 
		'grid-filters': {
				'1':'Identifiant',
			},
		'grid-sorting': { 
				'1':'desc',
			},	
		'grid-actions': {
				'rows_enabled': {'sButtonText':'pi.grid.action.row_enabled', 'route':'admin_pagecssjs_enabledentity_ajax',},
				'rows_disable': {'sButtonText':'pi.grid.action.row_disable', 'route':'admin_pagecssjs_disablentity_ajax'},
				'select_all': {'sButtonText':'pi.grid.action.select_all'},
				'select_none': {'sButtonText':'pi.grid.action.select_none'},
			}				
		}
	%}
	{{ renderJquery('GRID', 'grid-table', options_gridtabale )|raw }}	
	
{% endblock %}