							<div class="contact">
								<h2>{{ entity.translate(locale).getDescriptif()|replace({"<p>": "", "</p>": ""})|raw }}</h2>
								<a href="mailto:{{ entity.email }}?subject={{ entity.translate(locale).getEmailSubject() }}&body={{ entity.translate(locale).getEmailBody() }}&cc={{ entity.emailCc }}&bcc={{ entity.emailBcc }}" title="Contact">
									<span>
									{{ entity.translate(locale).getTitle() }}
									</span>
								</a>
							</div>