{% stylesheet getParameter('pi_app_admin.admin.grid_show_css') %}
{% stylesheet getParameter('pi_app_admin.admin.grid_theme_css') %}
{% if NoLayout %}
	{% set layout_nav = 'PiAppTemplateBundle::Template\\Layout\\layout-ajax.html.twig' %}
{% else %}
	{% set layout_nav = app.session.get('wurfl-layout') %}
{% endif %}	
{% extends layout_nav %}

{% block title %}
{% endblock %}
	
{% block content %}

	<table class="grid">
		<caption>Contact</caption>
	    <tbody>	
	        <tr>
	            <th>Id</th>	
	            <td>{{ entity.id }}</td>	
	        </tr>	
	        <tr>
	            <th>Title</th>	
	            <td>{{ entity.title }}</td>	
	        </tr>	
	        <tr>
	            <th>Descriptif</th>	
	            <td>{{ entity.descriptif }}</td>	
	        </tr>	
	        <tr>
	            <th>Address</th>	
	            <td>{{ entity.address }}</td>	
	        </tr>	
	        <tr>
	            <th>Phone</th>	
	            <td>{{ entity.phone }}</td>	
	        </tr>	
	        <tr>
	            <th>Fax</th>	
	            <td>{{ entity.fax }}</td>	
	        </tr>	
	        <tr>
	            <th>Email</th>	
	            <td>{{ entity.email }}</td>	
	        </tr>	
	        <tr>
	            <th>Email_subject</th>	
	            <td>{{ entity.emailsubject }}</td>	
	        </tr>	
	        <tr>
	            <th>Email_body</th>	
	            <td>{{ entity.emailbody }}</td>	
	        </tr>	
	        <tr>
	            <th>Email_cc</th>	
	            <td>{{ entity.emailcc }}</td>	
	        </tr>	
	        <tr>
	            <th>Email_bcc</th>	
	            <td>{{ entity.emailbcc }}</td>	
	        </tr>	
	        <tr>
	            <th>Url</th>	
	            <td>{{ entity.url }}</td>	
	        </tr>	
	        <tr>
	            <th>Url_title</th>	
	            <td>{{ entity.urltitle }}</td>	
	        </tr>	
	        <tr>
	            <th>Coordinates</th>	
	            <td>{{ entity.coordinates }}</td>	
	        </tr>	
	        <tr>
	            <th>Created_at</th>	
	            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>	
	        </tr>	
	        <tr>
	            <th>Updated_at</th>	
	            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>	
	        </tr>	
	        <tr>
	            <th>Published_at</th>	
	            <td>{{ entity.publishedat|date('Y-m-d H:i:s') }}</td>	
	        </tr>	
	        <tr>
	            <th>Archive_at</th>	
	            <td>{{ entity.archiveat|date('Y-m-d H:i:s') }}</td>	
	        </tr>	
	        <tr>
	            <th>Enabled</th>	
	            <td>{{ entity.enabled }}</td>	
	        </tr>	
	        <tr>
	            <th>Position</th>	
	            <td>{{ entity.position }}</td>	
	        </tr>	
 			<tr>
	        	<th>Media</th>
	        	<td>
	        		{% if entity.media.image is defined %}
	        			{% media entity.media.image, 'reference' %}
	        		{% endif %}
	        		
	        		<br />
	        		
	        		{% if entity.media1.image is defined %}
	        			{% media entity.media1.image, 'reference' %}
	        		{% endif %}
	        	</td>
	        </tr>       
	    </tbody>
	</table>

	{% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
	
				
	<ul class="record_actions">
		<li>
	        <form action="{{ path('admin_gedmo_contact', { 'NoLayout': NoLayout }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
		</li>
			<li>
	        <form action="{{ path('admin_gedmo_contact_edit', { 'id': entity.id, 'NoLayout':NoLayout }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.update'|trans }}</button>
	        </form>	        
		</li>
			
		{% if NoLayout == false %}
	    <li>
	        <form action="{{ path('admin_gedmo_contact_delete', { 'id': entity.id, 'NoLayout':NoLayout }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button type="submit">{{ 'pi.grid.action.delete'|trans }}</button>
	        </form>
	    </li>
	    {% endif %}
	    
	
	</ul>	
		<script type="text/javascript">
		//<![CDATA[
			$(document).ready(function() {
				$("button[type='submit']").button();
			});
		//]]>
		</script>
		
	{% endif %}		
		
{% endblock %}
