{% initJquery 'GRID:grid-table' %}
{% stylesheet getParameter('pi_app_admin.admin.grid_theme_css') %}
{% if NoLayout %}
	{% stylesheet 'bundles/piappadmin/css/layout/admin/screen.css' %}
	{% javascript 'bundles/piappadmin/js/jquery/custom_jquery.js' %}
	{% set layout_nav = 'PiAppTemplateBundle::Template\\Layout\\layout-ajax.html.twig' %}
{% else %}
	{% set layout_nav = app.session.get('wurfl-layout') %}
{% endif %}	
{% extends layout_nav %}

{% block title %}
	<h1>Media</h1>
{% endblock %}
 
{% block content %}

	<table id="grid_media" class="grid" >
	    <thead>
	        <tr>	            
	            <th class="position" ><a href="javascript:void(0);" title="Position">Position</a></th>	        
	        	<th><a href="javascript:void(0);" title="Id">Id</a></th>	   
	            <th><a href="javascript:void(0);" title="Title">Category</a></th>         
	            <th><a href="javascript:void(0);" title="Status">Status</a></th>	            
	            <th><a href="javascript:void(0);" title="Title">Title</a></th>	            
	            <th><a href="javascript:void(0);" title="Published_at">Published_at</a></th>	            
	            <th><a href="javascript:void(0);" title="Enabled">Enabled</a></th>	        	
	            <th><a href="javascript:void(0);" title="Actions">Actions</a></th>
	        </tr>
	    </thead>
	    <tbody>
	    {% set num_line = 0 %}
	    {% for entity in entities %}
	        <tr {% if(num_line == 0) %}class="odd"{% endif %}  id='{{ entity.position }}_row_{{ entity.id }}'  >	
	        	<td class="position" >{{ entity.position}}</td>	
	            <td><a href="{{ path('admin_gedmo_media_show', { 'id': entity.id, 'NoLayout': NoLayout, 'category':category }) }}" title="">{{ entity.id }}</a></td>
	            <td>
	            	{{ entity.category }}
	            </td>	
	            <td>
	            	{{ entity.status|limite("0", 55)|raw }}
	            </td>	
	            <td>
	            	{{ entity.title|limite("0", 55)|raw }}
	            </td>	
	            <td>{% if entity.publishedat %}{{ entity.publishedat|date('Y-m-d') }}{% endif%}</td>	
	            <td class="enabled" >{{ entity.enabled}}</td>	
				<td>
					<a href="{{ path('admin_gedmo_media_show', { 'id': entity.id, 'NoLayout':NoLayout, 'category':category }) }}" title="{{ 'pi.grid.action.show'|trans }}" class="icon-3 info-tooltip" >&nbsp;</a>
                	
                	{% set status = entity.status %}
                	<a href="{{ path('admin_gedmo_media_edit', { 'id': entity.id, 'NoLayout':NoLayout, 'category':category, 'status':status }) }}" title="{{ 'pi.grid.action.edit'|trans }}" class="icon-1 info-tooltip" >&nbsp;</a>
				</td>	
	        </tr>
	        {% if num_line == 0 %} 
	        	{% set num_line = 1 %}
	        {% else %}
	        	{% set num_line = 0 %}
	        {% endif %}	
	                
	    {% endfor %}
	    </tbody>
	</table>
	
	<!--  start actions-box ............................................... -->
	<div id="actions-box">
		<a href="" class="action-slider" title=""></a>
		<div id="actions-box-slider">
			<a href="" class="action-edit" title="{{ 'pi.grid.action.edit'|trans }}">{{ 'pi.grid.action.edit'|trans }}</a>
			<a href="" class="action-delete" title="{{ 'pi.grid.action.delete'|trans }}">{{ 'pi.grid.action.delete'|trans }}</a>
			<a href="{{ path('admin_gedmo_media_new', {'NoLayout':NoLayout, 'category':category, 'status':'file'}) }}" class="action-edit" title="{{ 'pi.grid.action.create'|trans }}">{{ 'pi.grid.action.create'|trans }} File</a>
			<a href="{{ path('admin_gedmo_media_new', {'NoLayout':NoLayout, 'category':category, 'status':'image'}) }}" class="action-edit" title="{{ 'pi.grid.action.create'|trans }}">{{ 'pi.grid.action.create'|trans }} Image</a>
			<a href="{{ path('admin_gedmo_media_new', {'NoLayout':NoLayout, 'category':category, 'status':'youtube'}) }}" class="action-edit" title="{{ 'pi.grid.action.create'|trans }}">{{ 'pi.grid.action.create'|trans }} Youtube</a>
			<a href="{{ path('admin_gedmo_media_new', {'NoLayout':NoLayout, 'category':category, 'status':'dailymotion'}) }}" class="action-edit" title="{{ 'pi.grid.action.create'|trans }}">{{ 'pi.grid.action.create'|trans }} Dailymotion</a>
		</div>
		<div class="clear"></div>
	</div>
	<!-- end actions-box........... -->
	
	{% set options_gridtabale = {'grid-name': 'grid_media', 'grid-type':'simple', 
			'grid-paginate':'false',
			'grid-filters': { 
					'1':'Position',
					'2':'Identifiant',
				},
			'grid-sorting': { 
					'0':'asc',
				},
			'grid-visible': {
				'0':'true',
				'1':'false',
				},						
			'grid-actions': { 
					'rows_position': {'route':'admin_gedmo_media_position_ajax',},
					'rows_grouping': {'Collapsible':'true', 
						'GroupBy':'name', 'GroupBy2':'name', 
						'columnIndex':2, 'HideColumn':'true', 'SortDirection':'desc',
					},
					'rows_enabled': {'sButtonText':'pi.grid.action.row_enabled', 'route':'admin_gedmo_media_enabledentity_ajax',},
					'rows_disable': {'sButtonText':'pi.grid.action.row_disable', 'route':'admin_gedmo_media_disablentity_ajax'},
					'select_all': {'sButtonText':'pi.grid.action.select_all'},
					'select_none': {'sButtonText':'pi.grid.action.select_none'},
				}		
			} 			
	%}
	{{ renderJquery('GRID', 'grid-table', options_gridtabale )|raw }}	

{% endblock %}
