	<table id="grid_page_widget" >
	    <thead>
	        <tr>
  	            <th class="position" ><a href="javascript:void(0);" title="Position">Position</a></th>
	            <th>Id</th>
	            <th>Plugin</th>
	            <th>Action</th>
	            <th>Configcssclass</th>
	            <th>Configxml</th>
	            <th>{{ 'pi.grid.action.active'|trans }}</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% set num_line = 0 %}
	    {% for entity in entities %}
	        <tr {% if(num_line == 0) %}class="odd"{% endif %} id="{{ entity.position }}_row_{{ entity.id }}"  >
	        	<td class="position" >{{ entity.position}}</td>
	            <td><a href="{{ path('admin_widget_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>{{ entity.plugin }}</td>
	            <td>{{ entity.action }}</td>
	            <td>{{ entity.configCssClass }}</td>
	            <td>{{ entity.configXml|limite('0', 25) }}</td>
	            <td class="enabled" width="20px">{{ entity.enabled }}</td>
	            <td width="130px">
					<a href="{{ path('admin_widget_show', { 'id': entity.id, 'NoLayout': NoLayout }) }}" title="{{ 'pi.grid.action.show'|trans }}" class="button-ui-show info-tooltip">{{ 'pi.grid.action.show'|trans }}</a>
					<a href="{{ path('admin_widget_edit', { 'id': entity.id, 'NoLayout': NoLayout }) }}" title="{{ 'pi.grid.action.edit'|trans }}" class="button-ui-edit info-tooltip">{{ 'pi.grid.action.edit'|trans }}</a>
	            </td>
	        </tr>
	        {% if num_line == 0 %} 
	        	{% set num_line = 1 %} 
	        {% else %}
	        	{% set num_line = 0 %}
	        {% endif %}		        
	    {% endfor %}
	    </tbody>
	</table>
	
	{% set options_gridtabale = {'grid-name': 'grid_page_widget', 'grid-type':'simple', 
			'grid-paginate':'true',
			'grid-filters': { 
					'1':'Position',
					'2':'Identifiant',
				},
			'grid-sorting': { 
					'1':'desc',
				},
			'grid-visible': {
				'0':'true',
				'1':'false',
				},						
			'grid-actions': { 
					'rows_position': {'route':'admin_widget_position_ajax',},
					'rows_enabled': {'sButtonText':'pi.grid.action.row_enabled', 'route':'admin_widget_enabledentity_ajax',},
					'rows_disable': {'sButtonText':'pi.grid.action.row_disable', 'route':'admin_widget_disablentity_ajax'},
					'select_all': {'sButtonText':'pi.grid.action.select_all'},
					'select_none': {'sButtonText':'pi.grid.action.select_none'},					
				}		
			} 			
	%}
	{{ renderJquery('GRID', 'grid-table', options_gridtabale )|raw }}
		