{% initJquery 'GRID:grid-table' %}
{% stylesheet getParameter('pi_app_admin.admin.theme_css')~":prepend" %}
{% extends app.request.attributes.get('orchestra-layout') %}

{% block title %}
	<h1>Snippet list</h1>
{% endblock %}
 
{% block content %}	

    {{ parent() }}
    
	<!--  start actions-box ............................................... -->
	<div id="actions-box">
		<a href="{{ path('admin_snippet_new') }}" class="action-edit">{{ 'pi.grid.action.create'|trans }}</a>
		<div class="clear"></div>
	</div>
	<!-- end actions-box........... -->
	
	<table id="grid_snippet">
	    <thead>
	        <tr>
	            <th><a href="">Id</a></th>
	            <th><a href="">Snippet Name</a></th>
	            <th><a href="">Plugin</a></th>
	            <th><a href="">Action</a></th>
	            <th><a href="">Configxml</a></th>
	            <th><a href="">Enabled</a></th>
	            <th><a href="">Actions</a></th>
	        </tr>
	    </thead>
	    <tbody>
	    {% set num_line = 0 %}
	    {% for entity in entities %}
	        <tr {% if(num_line == 0) %}class="odd"{% endif %} id="{{ entity.position }}_row_{{ entity.id }}"  >
	            <td><a href="{{ path('admin_snippet_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
   	            <td>{{ entity.configCssClass }}</td>
	            <td>{{ entity.plugin }}</td>
	            <td>{{ entity.action }}</td>
	            <td>{{ entity.configXml|limite('0', 25) }}</td>
	            <td class="enabled" width="20px">{{ entity.enabled }}</td>
	            <td width="130px">
					<a href="{{ path('admin_snippet_show', { 'id': entity.id }) }}" title="{{ 'pi.grid.action.show'|trans }}" class="button-ui-show info-tooltip">{{ 'pi.grid.action.show'|trans }}</a>
					<a href="{{ path('admin_snippet_edit', { 'id': entity.id }) }}" title="{{ 'pi.grid.action.edit'|trans }}" class="button-ui-edit info-tooltip">{{ 'pi.grid.action.edit'|trans }}</a>
	            </td>
	        </tr>
	        {% if num_line == 0 %} 
	        	{% set num_line = 1 %} 
	        {% else %}
	        	{% set num_line = 0 %}
	        {% endif %}		        
	    {% endfor %}
	    </tbody>
	</table>

	{% set options_gridtabale = {'grid-name': 'grid_snippet', 'grid-type':'simple', 
		'grid-filters': {
				'1':'Identifiant',
			},
		'grid-sorting': { 
				'1':'desc',
			},	
		'grid-actions': {
				'rows_enabled': {'sButtonText':'pi.grid.action.row_enabled', 'route':'admin_snippet_enabledentity_ajax',},
				'rows_disable': {'sButtonText':'pi.grid.action.row_disable', 'route':'admin_snippet_disablentity_ajax'},
				'select_all': {'sButtonText':'pi.grid.action.select_all'},
				'select_none': {'sButtonText':'pi.grid.action.select_none'},
			}				
		}
	%}
	{{ renderJquery('GRID', 'grid-table', options_gridtabale )|raw }}	
	
{% endblock %}	