<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Orchestra</title>
	<link rel="shortcut icon" type="image/ico" href="{{ asset("favicon.ico") }}" />
	<link rel="stylesheet" href="{{ asset('bundles/piappadmin/css/layout/admin/screen.css') }}" type="text/css" media="screen" title="default" />
	<!--  jquery core -->
	<script src="{{ asset('bundles/piappadmin/js/jquery/jquery-1.7.1.min.js') }}" type="text/javascript"></script>
	
	<!-- Custom jquery scripts -->
	<script src="{{ asset('bundles/piappadmin/js/jquery/custom_jquery.js') }}" type="text/javascript"></script>
	
	<!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
	<script src="{{ asset('bundles/piappadmin/js/jquery/jquery.pngFix.pack.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
	//<![CDATA[
	$(document).ready(function(){
	$(document).pngFix( );
	});
	//]]>
	</script>
</head>
<body id="login-bg"> 
 
<!-- Start: login-holder -->
<div id="login-holder">

	<!-- start logo -->
	<div id="logo-login">
		<a href="#" title="login page"><img src="{{ asset('bundles/piappadmin/images/logo/logo-orchestra-white.png') }}" width="212" height="70" alt="" /></a>
	</div>
	<!-- end logo -->
	
	<div class="clear"></div>
	
	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">
	
	<!--  start login-inner -->
	<div id="login-inner">
		{% block content %}
	    {% endblock %}		
	</div>
 	<!--  end login-inner -->
	<div class="clear"></div>
	<a href="javascript:void(0);" class="forgot-pwd" title="forgot password">Forgot Password?</a>
 </div>
 <!--  end loginbox -->
 
</div>
<!-- End: login-holder -->

	<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function() {
		    var prototype	= $('form + p');
			var target 		= $('.forgot-pwd');
			target.html(prototype);

			$('#username').focus();
		});
	//]]>
	</script> 
</body>
</html>