{% stylesheet getParameter('pi_app_admin.admin.grid_show_css') %}
{% stylesheet getParameter('pi_app_admin.admin.grid_theme_css') %}
{% extends app.session.get('wurfl-layout') %}

{% block title %}
{% endblock %}
 
{% block content %}

	<table class="grid">
		<caption>Layout</caption>
	    <tbody>
	        <tr>
	            <th>Id</th>
	            <td>{{ entity.id }}</td>
	        </tr>
	        <tr>
	            <th>Name</th>
	            <td>{{ entity.name }}</td>
	        </tr>
	        <tr>
	            <th>File</th>
	            <td>{{ entity.filePc }}</td>
	        </tr>
	        <tr>
	            <th>File</th>
	            <td>{{ entity.fileMobile }}</td>
	        </tr>
	        <tr>
	            <th>Configxml</th>
	            <td>{{ entity.configXml }}</td>
	        </tr>
	        <tr>
	            <th>Enabled</th>
	            <td>{{ entity.enabled }}</td>
	        </tr>
	    </tbody>
	</table>
	
	{% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
	<ul class="record_actions">
	    <li>
	        <form action="{{ path('admin_layout') }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
	    </li>
	    <li>
	        <form action="{{ path('admin_layout_edit', { 'id': entity.id }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.update'|trans }}</button>
	        </form>	        
	    </li>
	    {% if is_granted('ROLE_ADMIN') %}    
	    <li>
	        <form action="{{ path('admin_layout_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button type="submit">{{ 'pi.grid.action.delete'|trans }}</button>
	        </form>
	    </li>
	    {% endif %}
	</ul>
	
	<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function() {
			$("button[type='submit']").button();
		});
	//]]>		
	</script>
	{% endif %}
		
{% endblock %}