<header>
	<h2 class="tt-1">Opportunités</h2>
	<p>Bienvenue sur le mur des opportunités de la Mélée numérique, 
	un endroit où vous pouvez accrocher un post-it «je recherche» 
	(un outil, un contact, un stage ...) ou un post-it «je propose» 
	(des compétences, des outils, des stages / emplois...)</p>
</header>	
			
{% if is_granted("IS_AUTHENTICATED_FULLY") %}			
<section class="opportunite-post">
		{% form_theme form "PiAppTemplateBundle:Template\\Form:form_table_layout.html.twig" %}	
		<form action="#" method="post" class="cf" enctype="multipart/form-data">
			{{ form_errors(form) }}
			{{ form_widget(form._token) }} 		
			<div class="half fleft">
				<div class="row">
					<p class="bold resetM">Auteur *</p>
					<input type="text" name="author" value="{{app.user.nickname}} {{app.user.name}}" id="author" readonly />
				</div>
				<div class="row">
				<p class="bold resetM">Titre *</p>
					{{ form_widget(form.title) }}
				</div>
			</div>
			<div class="half fleft">
				<div class="row">
					<p class="resetM bold ">Catégorie *</p>
				</div>
				<div class="row radioGroup">
					{% if is_granted("ROLE_MEMBER") %}
					{{ form_widget(form.status) }}
					{% else %}
						<div class="input choice">
							<div>
								<input type="radio" checked disabled="disabled" id="piapp_gedmobundle_ads_posttype_status_pi.ads.form.type.search" name="piapp_gedmobundle_ads_posttype[status]" class="required inputs-list" value="pi.ads.form.type.search">
								<label class="">{{ 'pi.ads.form.type.post.search'|trans|striptags }}</label>
							</div>
							<div>
								<input type="radio" disabled="disabled" id="piapp_gedmobundle_ads_posttype_status_pi.ads.form.type.propose" name="piapp_gedmobundle_ads_posttype[status]" class="required inputs-list" value="pi.ads.form.type.propose">
								<label class="">{{ 'pi.ads.form.type.post.propose'|trans|striptags }}</label>
							</div>
						</div>	
						<input type='hidden' id="piapp_gedmobundle_ads_posttype_status_pi.ads.form.type.search" name="piapp_gedmobundle_ads_posttype[status]" value="pi.ads.form.type.search" />
					{% endif %}
				</div>
			
				<div class="row">
					<p class="bold resetM ">Espace *</p>
				</div>
				<div class="row radioGroup">
					{% if is_granted("ROLE_MEMBER") %}
						{{ form_widget(form.typology) }}
					{% else %}
						<div class="input choice">
							<div>
								<input type="radio" disabled="disabled" id="piapp_gedmobundle_ads_posttype_typology_pi.ads.form.type.market" name="piapp_gedmobundle_ads_posttype[typology]" class="resetP required inputs-list" value="pi.ads.form.type.market">
								<label class="">{{ 'pi.ads.form.type.market'|trans|striptags }}</label>
							</div>
							<div>
								<input type="radio" disabled="disabled" checked id="piapp_gedmobundle_ads_posttype_typology_pi.ads.form.type.job" name="piapp_gedmobundle_ads_posttype[typology]" class="resetP required inputs-list" value="pi.ads.form.type.job">
								<label class="">{{ 'pi.ads.form.type.job'|trans|striptags }}</label>
							</div>
						</div>
						<input type='hidden' id="piapp_gedmobundle_ads_posttype_typology_pi.ads.form.type.job" name="piapp_gedmobundle_ads_posttype[typology]" value="pi.ads.form.type.job" />
					{% endif %}						
				</div>
			</div>
		
		<div class="row clear">
			<p class="bold resetM">Mots-clés (max. 3) *</p>
			<input type="hidden" name="tags" id="keywords" value="" class="required tags">
			<ul id="singleFieldTags"></ul>
			<div style="display: none">
				{{ form_widget(form.tags) }}
			</div>
		</div>
		<div class="row">
			<p class="bold resetM ">Description *</p>
			{{ form_widget(form.content) }}
		</div>

		<div class="row">
			<div class="row">
				<a class="underline tt-clr popin-cond" href="#conditions">{{ 'pi.lamelee.opportunite.connaissance.conditions'|trans|striptags }}</a>
			</div>
		
			<input type="checkbox" class="required">
			
			<label class="checkboxLabel light-clr">{{ 'pi.lamelee.opportunite.accept.conditions'|trans|striptags }}
			</label>
		</div>
		<div class="row">
			<div class="button-content cf">
				<input type="hidden" id="piapp_gedmobundle_ads_posttype_media_status" name="piapp_gedmobundle_ads_posttype[media][status]" value="file">
				<input type="hidden" id="piapp_gedmobundle_ads_posttype_media_enabled" name="piapp_gedmobundle_ads_posttype[media][enabled]" value="1"></td>
				<label class="tt-9">Téléchargez une pièce jointe</label>
				<input type="file" class="file" id="piapp_gedmobundle_ads_posttype_media_image_binaryContent" name="piapp_gedmobundle_ads_posttype[media][image][binaryContent]" style="">

			<input type="submit" value="Valider" class="nextStep">
			</div>
			
		</div>
	</form>
</section>
<div id="conditions" class="popin-hidden">
	{{'pi.lamelee.opportunite.text.conditions'|trans|raw}}
</div>
<script>
        $(function(){
			var sampleTags = $('.list_tags option').map(function(i,n) {
				// console.log( $(n).text() );
				return $(n).text();
			}).get();

            //-------------------------------
            // Single field
            //-------------------------------
            $('#singleFieldTags').tagit({
                availableTags: sampleTags,
                allowSpaces : true,
                tagLimit : 3,
                singleField: true,
                singleFieldNode: $('#keywords')
            });
        });
</script>
{% else %}
<section class="opportunite-post">
{% set widget_service_params = {"template":"PiAppTemplateBundle:Template@@@@@@@@Login@@@@@@@@Security:connexion-ajax-bloc.html.twig"} %} 
{{ getService('pi_app_admin.manager.authentication').renderSource('BootStrapUserBundle:User~_connexion_default', 'fr_FR', widget_service_params)|raw }}
</section>
{% endif %}