<section class="bloc-workHP cf">
  <div class="wrap">
    <header class="business">
      <div class="title-border cf">
        <h3 class="tt-1 fleft">{{ 'pi.lamelee.bloc.sidebar.opportunities-business'|trans|raw }}</h3>
        <a href="{{ path_url('page_lamelee_menuwrapper_opportunites', {'locale':locale}) }}"> {{ 'pi.lamelee.bloc.sidebar.all.opportunities'|trans }}</a>	
      </div>
    </header>
    <div class="work-list">
      <ul>
        {% for ad in ads %}
        <li {% if loop.index % 2 %}class="zebra"{% endif %}>
          <a href="#">
            <h4 class='tt-8 tt-clr'>{{ ad.title }}</h4>
            <p>{{ ad.typology|trans }}</p>
            <p class="txtright">le {{ ad.createdat |date('m/y') }} par <strong>{{ ad.user }}</strong></p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>