{%  initJquery 'FORM:prototype-bytab' %}
{% if NoLayout %}
	{% set layout_nav = 'PiAppTemplateBundle::Template\\Layout\\layout-ajax.html.twig' %}
{% else %}
	{% set layout_nav = app.session.get('wurfl-layout') %}
{% endif %}	
{% extends layout_nav %}

{% block title %}
	<h1>Category</h1>
{% endblock %}
 
{% block content %}

	<!-- Begin tag markup -->
	<div id="tabs">
		<ul>
			<li>
				<a href="#tabs-1" title="{{ 'pi.form.title.default.update'|trans }}">{{ 'pi.form.title.default.update'|trans }}</a> 
				<span class="ui-icon ui-icon-close">Remove Tab</span>
			</li>
		</ul>

		{% form_theme edit_form getParameter('pi_app_admin.layout.template.form') %}
		<form class="myform" action="{{ path('admin_gedmo_category_update', { 'id': entity.id, 'NoLayout': NoLayout }) }}" method="post" {{ form_enctype(edit_form) }} novalidate>
		    <div id="tabs-1">
		    	{{ form_widget(edit_form) }}
		    </div>
		    <p>
		        <!-- <input id="add_tab" type="button" value="{{ 'pi.grid.action.add-tab'|trans }}" /> -->
		        <button type="submit">{{ 'pi.grid.action.save'|trans }}</button>
		    </p>		    
		</form>
		
	</div>
	<!-- End tag markup -->	
	
	{% set options = {'prototype-name': ['translations'], 'prototype-tab-title': 'Translate'} %}
	{{ renderJquery('FORM', 'prototype-bytab', options )|raw }}
		
		
	<ul class="record_actions">
		<li>
	        <form action="{{ path('admin_gedmo_category', { 'NoLayout': NoLayout }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
		</li>
			
		{% if NoLayout == false %}
	    <li>
	        <form action="{{ path('admin_gedmo_category_delete', { 'id': entity.id, 'NoLayout':NoLayout }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button type="submit">{{ 'pi.grid.action.delete'|trans }}</button>
	        </form>
	    </li>
	    {% endif %}	    
	</ul>
	
	{% if entity.media.image is defined %}
	{{ picture_form(entity.media.image, "piapp_gedmobundle_categorytype_media_image_binaryContent",  'reference', 'display: block; text-align:left;')|raw }}
	{% endif %}
		
{% endblock %}		