{% stylesheet getParameter('pi_app_admin.admin.grid_show_css') %}
{% stylesheet getParameter('pi_app_admin.admin.grid_theme_css') %}
{% if NoLayout %}
	{% set layout_nav = 'PiAppTemplateBundle::Template\\Layout\\layout-ajax.html.twig' %}
{% else %}
	{% set layout_nav = app.session.get('wurfl-layout') %}
{% endif %}	
{% extends layout_nav %}

{% block title %}
{% endblock %}
	
{% block content %}

	<table class="grid">
		<caption>Category</caption>
	    <tbody>	
	        <tr>
	            <th>Id</th>	
	            <td>{{ entity.id }}</td>	
	        </tr>	
	        <tr>
	        	<th>Type</th>
	        	<td>
	            	{{ ("pi.category.type."~entity.type)|trans }}
	            </td>
	        </tr>
	        <tr>
	            <th>Name</th>	
	            <td>{{ entity.name }}</td>	
	        </tr>	
	    </tbody>
	</table>

	{% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
	
				
	<ul class="record_actions">
		<li>
	        <form action="{{ path('admin_gedmo_category', { 'NoLayout': NoLayout }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
		</li>
			<li>
	        <form action="{{ path('admin_gedmo_category_edit', { 'id': entity.id, 'NoLayout':NoLayout }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.update'|trans }}</button>
	        </form>	        
		</li>
			
		{% if NoLayout == false %}
	    <li>
	        <form action="{{ path('admin_gedmo_category_delete', { 'id': entity.id, 'NoLayout':NoLayout }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button type="submit">{{ 'pi.grid.action.delete'|trans }}</button>
	        </form>
	    </li>
	    {% endif %}
	    
	
	</ul>	
		<script type="text/javascript">
		//<![CDATA[
			$(document).ready(function() {
				$("button[type='submit']").button();
			});
		//]]>
		</script>
		
	{% endif %}		
		
{% endblock %}
