{% if render == '' %}
		<section class="breadcrumb">
			<div class="wrap">
				<a class="underline" href="#">Home</a> >
				<a href="#" class="tt-clr"> M'inscrire</a>
			</div>
		</section>
		<div class="wrap">
			<header>
				<h2 class="tt-1">M'inscrire</h2>
				<p class="tt-10">Gérer simplement vos abonnements newsletter et vos événements 
				en vous inscrivant gratuitement à La Mêlée Numérique.</p>
			</header>
		</div>
		
		<section class="bloc-inscription">
			<div class="wrap">
				<div class="content">
					<form action="" method="POST" class="cf" novalidate>
            <input type="hidden" id="new" name="new" value="{{new}}">
            {{ form_errors(form) }}
            {{ form_widget(form._token) }}
						<div class="title-border-simple cf">
							<h3 class="tt-9 tt-clr fleft">Mes données personnelles</h3>
						</div>
						<fieldset>
							<div class="row cf">
								{{ form_widget(form.Name) }}
								{{ form_widget(form.Nickname) }}
							</div>
						</fieldset>
						<fieldset>
							<legend class="bold">Entreprise</legend>
							<div class="row cf">
								{{ form_widget(form.Company) }}
                {{ form_widget(form.Job) }}
							</div>
							<div class="row" id="activity">	
                  {{ form_widget(form.Activity) }}
									<a href="#" class="tooltip" data-tooltip="Du texte d'exemple pour l'infobulle">Info</a>
							</div>
								<div class="row hidden" id="activityList">	
                    {{ form_widget(form.Engineering) }}
								</div>
							<div class="row">
								{{ form_widget(form.url) }}
							</div>
						
						</fieldset>
						<fieldset class="resetBorder">
								<legend class="bold">Contact</legend>
								<div class="row">	
									{{ form_widget(form.Email) }}	
									{{ form_widget(form.Phone) }}
								</div>
						</fieldset>

						<fieldset class="resetBorder cf">
							<legend class="bold">Vos identifiants réseaux sociaux </legend>
								<div class="row cf">
									<label class="social fb fleft">Facebook</label>
									{{ form_widget(form.Facebook) }}
                  <a href="#" class="tooltip" data-tooltip="Copiez l'url de votre page profil">Info</a>
								</div>
								<div class="row cf">
									<label class="social gPlus fleft">Google +</label>
									{{ form_widget(form.GooglePlus) }}
                  <a href="#" class="tooltip" data-tooltip="Copiez l'url de votre page profil">Info</a>
								</div>
								<div class="row cf">
									<label class="social twitter fleft">Twitter</label>
									{{ form_widget(form.Twitter) }}
                  <a href="#" class="tooltip" data-tooltip="Copiez l'url de votre page profil">Info</a>
								</div>
								<div class="row cf">
									<label class="social linked fleft">LinedIn</label>
									{{ form_widget(form.LinkedIn) }}
                  <a href="#" class="tooltip" data-tooltip="Copiez l'url de votre page profil">Info</a>
								</div>
								<div class="row cf">
									<label class="social viadeo fleft">Viadeo</label>
									{{ form_widget(form.Viadeo) }}
                  <a href="#" class="tooltip" data-tooltip="Copiez l'url de votre page profil">Info</a>
								</div>
							<div class="id-choice">
								
								{{ form_row(form.UserName) }}

								<p class="light-clr"><small>Il vous sera demandé à chaque connexion et sera définitif</small></p>
							</div>	
							<p class="light-clr"><span class="tt-clr">*</span> champs obligatoire</p>

						</fieldset>

						<div class="title-border-simple cf">
							<h3 class="tt-9 tt-clr fleft">Mes newsletter</h3>
						</div>
						
						<p class="light-clr">
							Veuillez sélectionner les newsletters que vous souhaitez recevoir :
						</p>
						<div class="row cf">
							<div class="field fleft">
								<input type="checkbox">
								<label class="light-clr bold">Infomêlée</label>
							</div>
							<div class="field fleft">
								<input type="checkbox">
								<label class="light-clr bold">MID e-news</label>
							</div>
							<div class="field fleft">
								<input type="checkbox">
								<label class="light-clr bold">Infocantine</label>
							</div>
							<div class="field fleft">
								<input type="checkbox" id="list-news">
								<label class="light-clr bold">Thema'TIC</label>
							</div>
							<div class="bulle-info news-list cf fright">
								<span class="arrow"></span>
								<div class="half fleft">
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Systeme d'informations</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Sécurité informatique</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">International</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Logiciels libre</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Innovation</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Emplois et formation</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Intelligence Collective</label>
									</div>
									
								</div>
								<div class="half fleft">
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Systeme d'informations</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Sécurité informatique</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">International</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Logiciels libre</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Innovation</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Emplois et formation</label>
									</div>
									<div class="field">
										<input type="checkbox">
										<label class="light-clr">Intelligence Collective</label>
									</div>		
								</div>
							</div>
						</div>

						<div class="button-ct clear">
							<input type="submit" value="JE M'inscris" class="nextStep">
						</div>
					</form>

				</div>
				<p class="light-clr"><small>
					Les informations recueillies dans ce formulaire font l'objet d'un traitement
					 informatique destiné à l'usage exclusif de La Mêlée. Conformément à la loi 
					 "Informatique et Libertés" du 6 janvier 1978, vous bénéficiez d'un droit
					  d'accès, de modification, de suppression et d'opposition aux données vous 
					  concernant. Si vous souhaitez exercer ces droits, veuillez vous adresser à 
					  La Mêlée - 22 route d'Espagne - 31100 Toulouse ou écrire à e.forzy@meleenumerique.com.</small>
					</p>
			</div>
		</section>	
{% else %}
  {{ render|raw }}
{% endif %}	