{% if render == '' %}
		<section class="breadcrumb">
			<div class="wrap">
				<a class="underline" href="#">Home</a> >
				<a href="#" class="tt-clr"> M'inscrire</a>
			</div>
		</section>
		<div class="wrap">
			<header>
				<h2 class="tt-1">M'inscrire</h2>
				<p class="tt-10">Gérer simplement vos abonnements newsletter et vos événements 
				en vous inscrivant gratuitement à La Mêlée Numérique.</p>
			</header>
		</div>
		
		<section class="bloc-inscription">
			<div class="wrap">
				<div class="content">
					<form action="" method="POST" class="cf" novalidate>
						<input type="hidden" id="new" name="new" value="{{new}}">
						{{ form_errors(form) }}
						{{ form_widget(form._token) }}
						<div class="title-border-simple cf">
							<h3 class="tt-9 tt-clr fleft">Mes données personnelles</h3>
						</div>
						<fieldset>
							<div class="row cf">
								{% if form.vars.value.Name %} 
									  {{ form_widget(form.Name) }}
								{% else %}
									  {{ form_widget(form.Name, { 'attr': {'data-validate': 'Nom*'} }) }}
								{% endif %}
								{% if form.vars.value.Nickname %} 
									  {{ form_widget(form.Nickname) }}
								{% else %}
									  {{ form_widget(form.Nickname, { 'attr': {'data-validate': 'Prénom*'} }) }}
								{% endif %}
							</div>
						</fieldset>
						<fieldset>
							<legend class="bold">Entreprise</legend>
							<div class="row cf">
								{% if form.vars.value.Company %} 
									  {{ form_widget(form.Company) }}
								{% else %}
									  {{ form_widget(form.Company, { 'attr': {'data-validate': 'Société*'}}) }}
								{% endif %}								
								{% if form.vars.value.Job %} 
									  {{ form_widget(form.Job) }}
								{% else %}
									  {{ form_widget(form.Job, { 'attr': {'data-validate': 'Fonction*'}}) }}
								{% endif %}								
							</div>
							<div class="row" id="activity">	
								{{ form_widget(form.Activity) }}
								<a href="#" class="tooltip" data-tooltip="{{'pi.individual.form.inscription.tooltip.activity'|trans|striptags|raw}}">Info</a>
							</div>
								<div class="row hidden" id="activityList">	
									{{ form_widget(form.Engineering) }}
								</div>
							<div class="row">
									{% if form.vars.value.url %} 
										  {{ form_widget(form.url) }}
									{% else %}
										  {{ form_widget(form.url, { 'attr': {'class':'text', 'data-validate': 'Site Web'}}) }}
									{% endif %}								
							</div>
						
						</fieldset>
						<fieldset class="resetBorder">
								<legend class="bold">Contact</legend>
								<div class="row">	
									{% if form.vars.value.Email and not(form.vars.errors|length) %} 
										  {{ form_widget(form.Email) }}
									{% elseif form.vars.errors|length %} 
										  {{ form_widget(form.Email, { 'attr': {'class': 'error'} }) }}                
									{% else %}
										  {{ form_widget(form.Email, { 'attr': {'data-validate': 'Email pro*'} }) }}
									{% endif %}
									{% if form.vars.value.Phone %} 
										  {{ form_widget(form.Phone) }}
									{% else %}
										  {{ form_widget(form.Phone, { 'attr': {'class':'phone', 'data-validate': 'Téléphone*'} }) }}
									{% endif %}
								</div>
						</fieldset>

						<fieldset class="resetBorder cf">
							<legend class="bold">Vos identifiants réseaux sociaux </legend>
								<div class="row cf">
									<label class="social fb fleft">Facebook</label>
									{{ form_widget(form.Facebook) }}
									<a href="#" class="tooltip" data-tooltip="{{'pi.individual.form.inscription.tooltip.facebook'|trans|striptags|raw}}">Info</a>
								</div>
								<div class="row cf">
									<label class="social gPlus fleft">Google +</label>
									{{ form_widget(form.GooglePlus) }}
									<a href="#" class="tooltip" data-tooltip="{{'pi.individual.form.inscription.tooltip.googleplus'|trans|striptags|raw}}">Info</a>
								</div>
								<div class="row cf">
									<label class="social twitter fleft">Twitter</label>
									{{ form_widget(form.Twitter) }}
									<a href="#" class="tooltip" data-tooltip="{{'pi.individual.form.inscription.tooltip.twitter'|trans|striptags|raw}}">Info</a>
								</div>
								<div class="row cf">
									<label class="social linked fleft">LinedIn</label>
									{{ form_widget(form.LinkedIn) }}
									<a href="#" class="tooltip" data-tooltip="{{'pi.individual.form.inscription.tooltip.linkedin'|trans|striptags|raw}}">Info</a>
								</div>
								<div class="row cf">
									<label class="social viadeo fleft">Viadeo</label>
									{{ form_widget(form.Viadeo) }}
									<a href="#" class="tooltip" data-tooltip="{{'pi.individual.form.inscription.tooltip.viadeo'|trans|striptags|raw}}">Info</a>
								</div>
							<div class="id-choice">
								{% if form.vars.value.UserName and not(form.UserName.vars.errors|length) %} 
									  <label>Votre Identifiant</label>
									  {{ form_row(form.UserName) }}
								{% elseif form.UserName.vars.errors|length %} 
									  {{ form_label(form.UserName) }}
									  {{ form_widget(form.UserName, {'attr': {'class': 'error'} }) }}									
								{% else %}
									  {{ form_label(form.UserName) }}
									  {{ form_widget(form.UserName, {'attr': {'data-validate': 'Identifiant'} }) }}
								{% endif %}								

								<p class="light-clr"><small>Il vous sera demandé à chaque connexion et sera définitif</small></p>
							</div>	
							<p class="light-clr"><span class="tt-clr">*</span> champs obligatoire</p>

						</fieldset>

						<div class="title-border-simple cf">
							<h3 class="tt-9 tt-clr fleft">Mes newsletter</h3>
						</div>
						
						<p class="light-clr">
							Veuillez sélectionner les newsletters que vous souhaitez recevoir :
						</p>
						<div class="row cf">
							{% for key,cat in newsletters %}
							  {% set catlength = cat|length %}
							  {% if catlength == 1 %}
								  <div class="field fleft">
									<input type="checkbox" name="newsletters[{{ attribute(attribute(cat, 0), 1)}}]">
									<label class="light-clr bold">{{ attribute(attribute(cat, 0), 0)}}</label>
								  </div>
							  {% else %}
								  <div class="field fleft">
									<input type="checkbox" id="list-news">
									<label class="light-clr bold">{{ attribute(attribute(cat, 0), 0)}}</label>
								  </div>   
								  <div class="bulle-info news-list cf fright">
									<span class="arrow"></span>
									{% for i in 1..2 %}
									<div class="half fleft">
									  {% if i == 1 %}
										  {% set deb = 0 %}
										  {% set fin = (((catlength)+(catlength%2))/2 -1)  %}
									  {% else  %}
										  {% set deb = (((catlength)+(catlength%2))/2 ) %}
										  {% set fin = catlength -1 %}
									  {% endif %}
									  {% for nl in deb..fin  %}
										  <div class="field">
											<input type="checkbox" name="newsletters[{{attribute(attribute(cat, nl), 1)}}]">
											<label class="light-clr">{{attribute(attribute(cat, nl), 2)}}</label>
										  </div>
									  {% endfor %}
									</div>
									{% endfor %}
								  </div>                
							  {% endif %}
							{% endfor %}
						</div>

						<div class="button-ct clear">
							<input type="submit" value="JE M'inscris" class="nextStep">
						</div>
					</form>

				</div>
				<p class="light-clr"><small>
					Les informations recueillies dans ce formulaire font l'objet d'un traitement
					 informatique destiné à l'usage exclusif de La Mêlée. Conformément à la loi 
					 "Informatique et Libertés" du 6 janvier 1978, vous bénéficiez d'un droit
					  d'accès, de modification, de suppression et d'opposition aux données vous 
					  concernant. Si vous souhaitez exercer ces droits, veuillez vous adresser à 
					  La Mêlée - 22 route d'Espagne - 31100 Toulouse ou écrire à e.forzy@meleenumerique.com.</small>
					</p>
			</div>
		</section>	
{% else %}
  {{ render|raw }}
{% endif %}	