{% macro flash(type, message, close) %}
	<div class="alert-message {{ type }}" data-alert="alert" title="{{ type }}">
		{% if close|default(false) %} 
			<a class="close" href="#">×</a>
		{% endif %}
		<p>
			{{ message | trans | raw }}
		</p>
	</div>
{% endmacro %}

{% macro session_flash(type) %}
	{% set types = ['success', 'notice', 'error', 'warning'] %}
	{% if app.session.getFlashes()|length > 0 %}
	<div id="symfony-layout-flash" title="{{ 'pi.session.flash.title' | trans }}">
            {% if type|default(false) %}
            {% else %}
            
            	{% if app.session.hasFlash('only') %}
            		{{ _self.flash(type, app.session.flash('only')) | raw }}
            	{% else %}
	                {% for type in types %}
	                    {% if app.session.hasFlash(type) %}
	                        {{ _self.flash(type, app.session.flash(type)) | raw }}
	                    {% endif %}
	                {% endfor %}            	
            	{% endif %}

            {% endif %}
	</div>
	{% endif %}
{% endmacro %}

{% macro session_flash_frontoffice(type) %}
	{% set types = ['success', 'notice', 'error', 'warning'] %}
    {% if app.session.getFlashes()|length > 0 %}
	<div class="fancybox-flash" style="display:none">
		<div id="confirm-popup">
			<section class="forgotten-password">
				<header class="tt-grey resetM">
					<h3 class="uppercase bold tt-10">MESSAGE</h3>
				</header>			
				{% if type|default(false) %}
		        {% else %}
		            	{% if app.session.hasFlash('only') %}
		            		{{ _self.flash(type, app.session.flash('only')) | raw }}
		            	{% else %}
			                {% for type in types %}
			                    {% if app.session.hasFlash(type) %}
			                        {{ _self.flash(type, app.session.flash(type)) | raw }}
			                    {% endif %}
			                {% endfor %}            	
		            	{% endif %}
		        {% endif %}
			</section>
		</div>
	</div>
	{% endif %}
{% endmacro %}