	<!-- Begin tag markup -->
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">{{ 'pi.page.translation.title'|trans }}</a> <span class="ui-icon ui-icon-close">Remove
				Tab</span></li>
		</ul>

		{% form_theme form getParameter('pi_app_admin.layout.template.form') %}
		<form class="myform" action="{{ path('admin_pagebytrans_create', { 'NoLayout': NoLayout }) }}" method="post" {{ form_enctype(form) }} novalidate>
			<div id="tabs-1">
				    {{ form_widget(form) }} 
			</div>
		    <p>
		        <input id="add_tab" type="button" value="{{ 'pi.grid.action.add-tab'|trans }}" />
		        <button type="submit">{{ 'pi.grid.action.create'|trans }}</button>
		    </p>
		</form>

	</div>
	<!-- End tag markup -->
	
	{% set options = {'prototype-name': ['translations'], 'prototype-tab-title': 'Translate'} %}
	{{ renderJquery('FORM', 'prototype-bytab', options )|raw }}

	<ul class="record_actions">
	    <li>
	        <form action="{{ path('admin_pagebytrans') }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
	    </li>
	</ul>

	<script type="text/javascript">
	// <![CDATA[
	$('ul.record_actions').ready(function(){		
		var allListElements = new Array();		
		$("select[id$='_heritage']").each(function(index) {
			allListElements[index] = $(this).parents('.clearfix'); 
			allListElements[index].hide();
		});
		
		$("input[id$='_secure']").change(function () {
			if($(this).is(':checked')){
				$("select[id$='_heritage']").each(function(index) {
					$(this).parents('.no-accordion').find(allListElements[index]).show();
				});
			}else{
				$("select[id$='_heritage']").each(function(index) {
					$(this).parents('.no-accordion').find(allListElements[index]).hide();
				});
			}
       	});
	});
	// ]]>
	</script> 	