{% if render == '' %}
<section class="breadcrumb">
			<div class="wrap">
				<a class="underline" href="#">Home</a> >
				<a href="#" class="tt-clr"> M'inscrire</a>
			</div>
		</section>
		<div class="wrap">
			<header>
				<h2 class="tt-1">Adhérer</h2>
				<p class="tt-10">Gérer simplement vos abonnements newsletter et vos événements 
				en vous inscrivant gratuitement à La Mêlée Numérique.</p>
			</header>
		</div>
		
		<section class="bloc-adhesion">
			<div class="wrap">
				<div class='content'>
					<header class="resetM cf">
						<h3 class="tt-3 tt-clr bold">Vous souhaitez adhérer en tant que :</h3>
						<div class="button-ct">
							<a href="#" class="button Bsociety " data-button="toggle"><!--
								--><span>Personne physique</span><!--
							--></a>
							<a href="#" class="button Bperson on" data-button="toggle"><!--
								--><span>Personne morale</span><!--
							--></a>
							</div>
					</header>
					<figure class="timeline">
						<a href="#" class="dots first active">1</a>
						<a href="#" class="dots second">2</a>
						<a href="#" class="dots third">3</a>
						<a href="#" class="dots fourth">4</a>
					</figure>
          {% form_theme form "PiAppTemplateBundle:Template\\Form:form_table_layout.html.twig" %}
					<form action="#" method="post" class="cf">
            <input type="hidden" id="new" name="new" value="{{new}}">
            <input type="hidden" id="step" name="step" value="1">
            {{ form_errors(form) }}
            {{ form_widget(form._token) }}             
						<div class="title-border-simple cf">
							<h3 class="tt-3 tt-clr bold fleft">Qui êtes-vous ?</h3>
						</div>
						<fieldset>
							<div class="row">
								{{ form_widget(form.Civility) }}
							</div>
							<div class="row cf">
                {{ form_widget(form.Name) }}
								{{ form_widget(form.Nickname) }}
							</div>
					
							<div class="row cf">
								{{ form_widget(form.Job) }}	
							</div>
		
							<div class="row wrap cf">	
								<figure class="fleft">
									<img alt="LA MELEE" src="./media/img/body/annuAdh/03.jpg">
								</figure>
								<div class="row fleft">
									<label>Télécharger un logo </label>
									<input type="file">
								</div>
							</div>

							<div class="row">	
								{{ form_widget(form.Email) }}
                {{ form_widget(form.EmailPerso) }}
							</div>

							<div class="row">
								{{ form_widget(form.UserPhone) }}
							</div>
	
						</fieldset>

						<fieldset class="resetBorder">
							<div class="row cf"> 
								<p class="tt-10  bold fleft">Profil adhérent *</p>
								<a href="#" class="fleft tooltip" data-tooltip="Du texte d'exemple pour l'infobulle">Info</a>
							</div>
							<div class="row radioGroup"> 
                {{ form_widget(form.Profile) }}
							</div>
						
							<div class="id-choice">
								{{ form_row(form.UserName) }}

								<p class="light-clr"><small>Il vous sera demandé à chaque connexion et sera définitif</small></p>
							</div>	
							<p class="light-clr"><span class="tt-clr">*</span> champs obligatoire</p>
						</fieldset>

						<input type="submit" value="ETAPE SUIvaNTE" class="fright nextStep">
								
					</form>

				</div>	
			</div>
		</section>
{% else %}
  {{ render|raw }}
{% endif %}	