{% if render == '' %}
<section class="breadcrumb">
			<div class="wrap">
				<a class="underline" href="#">Home</a> >
				<a href="#" class="tt-clr"> M'inscrire</a>
			</div>
		</section>
		<div class="wrap">
			<header>
				<h2 class="tt-1">Adhérer</h2>
				<p class="tt-10">Gérer simplement vos abonnements newsletter et vos événements 
				en vous inscrivant gratuitement à La Mêlée Numérique.</p>
			</header>
		</div>
		
		<section class="bloc-adhesion">
			<div class="wrap">
				<div class='content'>
					<header class="resetM cf">
						<h3 class="tt-3 tt-clr bold">Vous souhaitez adhérer en tant que :</h3>
						<div class="button-ct">
							<a href="{{ path_url("page_lamelee_adhesion_physique")}}" class="button Bperson" data-button="toggle"><!--
								--><span>Personne physique</span><!--
							--></a>
							<a href="#" class="button Bsociety on" data-button="toggle"><!--
								--><span>Personne morale</span><!--
							--></a>
							</div>
					</header>
					<figure class="timeline">
						<a href="#" class="dots first ">1</a>
						<a href="#" class="dots second">2</a>
						<a href="#" class="dots third">3</a>
						<a href="#" class="dots fourth active">4</a>
					</figure>

					<div class="title-border-simple cf">
						<h3 class="tt-3 tt-clr bold fleft">La mêlée et vous</h3>
					</div>
          {% form_theme form "PiAppTemplateBundle:Template\\Form:form_table_layout.html.twig" %}
					<form action="#" method="post" class="cf">
            <input type="hidden" id="new" name="new" value="{{new}}">
            <input type="hidden" id="step" name="step" value="4">
            {% for key,value in data %}
                <input type="hidden" id="{{key}}" name="{{key}}" value="{{value}}">
            {% endfor %}            
            {{ form_errors(form) }}
            {{ form_widget(form._token) }}             
						<fieldset>
							<legend class="bold">Mes commissions</legend>
						
							<p class="light-clr">
								Veuillez sélectionner les commisions auxquels vous souhaitez participer :
							</p>
							<div class="row radio-list cf">
                {% set com_len = commissions|length %}
                {% for i in 1..2 %}
                <div class="half fleft">
                  {% if i == 1 %}
                      {% set deb = 0 %}
                      {% set fin = (((com_len)+(com_len%2))/2 -1)  %}
                  {% else  %}
                      {% set deb = (((com_len)+(com_len%2))/2 ) %}
                      {% set fin = com_len -1 %}
                  {% endif %}
                  {% for com in deb..fin  %}
                      <div class="field">
                        <input type="checkbox" name="commissions[{{attribute(attribute(commissions, com), 0)}}]">
                        <label class="light-clr">{{attribute(attribute(commissions, com), 1)}}</label>
                      </div>
                  {% endfor %}
                </div>
                {% endfor %}                	
							</div>
						</fieldset>

						<fieldset>
							<legend class="bold">Mes Newsletter</legend>
						
							<p class="light-clr">
								Veuillez sélectionner les newsletters que vous souhaitez recevoir :
							</p>
							<div class="row cf">
              {% for key,cat in newsletters %}
                {% set catlength = cat|length %}
                {% if catlength == 1 %}
                    <div class="field fleft">
                      <input type="checkbox" name="newsletters[{{ attribute(attribute(cat, 0), 1)}}]" {{ attribute(attribute(cat, 0), 3)}}>
                      <label class="light-clr bold">{{ attribute(attribute(cat, 0), 0)}}</label>
                    </div>
                {% else %}
                    <div class="field fleft">
                      <input type="checkbox" id="list-news">
                      <label class="light-clr bold">{{ attribute(attribute(cat, 0), 0)}}</label>
                    </div>   
                    <div class="bulle-info news-list cf fright">
                      <span class="arrow"></span>
                      {% for i in 1..2 %}
                      <div class="half fleft">
                        {% if i == 1 %}
                            {% set deb = 0 %}
                            {% set fin = (((catlength)+(catlength%2))/2 -1)  %}
                        {% else  %}
                            {% set deb = (((catlength)+(catlength%2))/2 ) %}
                            {% set fin = catlength -1 %}
                        {% endif %}
                        {% for nl in deb..fin  %}
                            <div class="field">
                              <input type="checkbox" name="newsletters[{{attribute(attribute(cat, nl), 1)}}]"  {{attribute(attribute(cat, nl), 3)}}>
                              <label class="light-clr">{{attribute(attribute(cat, nl), 2)}}</label>
                            </div>
                        {% endfor %}
                      </div>
                      {% endfor %}
                    </div>                
                {% endif %}
              {% endfor %}
						</div>


						</fieldset>

						<fieldset class="cf">
							<legend class="bold fleft">Quelles sont vos expertises ? *</legend>
							<a href="#" class="fleft tooltip" data-tooltip="Du texte d'exemple pour l'infobulle">Info</a>
							{{ form_widget(form.Expertise) }}
						</fieldset>

						<fieldset>
							<div class="row cf"> 
								<p class="radioLabel tt-10  bold fleft">Souhaitez vous être conférencier ? *</p>
								<a href="#" class="fleft tooltip" data-tooltip="Du texte d'exemple pour l'infobulle">Info</a>
							</div>
							<div class="row radioGroup"> 
								{{ form_widget(form.Speaker) }}
							</div>
						
						</fieldset>
						<fieldset>
							<legend class="bold">Origine de contact et motivations * </legend>
							{{ form_widget(form.OriginContact) }}
              {{ form_widget(form.OriginContactOther) }}
              {{ form_widget(form.OriginContactSponsor) }}
						</fieldset>

							<div class="button-ct cf">
							<a href="#" class="button purple fleft"><!--
								--><span>ETAPE PRECEDENTE</span><!--
							--></a>
							
							<input type="submit" value="VALIDER" class="fright nextStep" title="Valider ma demande d'adhésion">

						</div>
					</form>
				</div>
				
			</div>
		</section>
{% else %}
  {{ render|raw }}
{% endif %}	