{% if render == '' %}
    <section class="breadcrumb">
			<div class="wrap">
				<a class="underline" href="#">Home</a> >
				<a href="#" class="tt-clr"> M'inscrire</a>
			</div>
		</section>
		<div class="wrap">
			<header>
				<h2 class="tt-1">Adhérer</h2>
				<p class="tt-10">Gérer simplement vos abonnements newsletter et vos événements 
				en vous inscrivant gratuitement à La Mêlée Numérique.</p>
			</header>
		</div>
		
		<section class="bloc-adhesion">
			<div class="wrap">
				<div class='content'>
					<header class="resetM cf">
						<h3 class="tt-3 tt-clr bold">Vous souhaitez adhérer en tant que :</h3>
						<div class="button-ct">
							<a href="#" class="button Bperson" data-button="toggle"><!--
								--><span>Personne physique</span><!--
							--></a>
							<a href="#" class="button Bsociety" data-button="toggle"><!--
								--><span>Personne morale</span><!--
							--></a>
							</div>
					</header>
					<figure class="timeline">
						<a href="#" class="dots first active">1</a>
						<a href="#" class="dots second">2</a>
						<a href="#" class="dots third">3</a>
						<a href="#" class="dots fourth">4</a>

					</figure>

					<form action="" method="POST" class="cf" novalidate>
            
						<input type="hidden" id="new" name="new" value="{{new}}">
						<div>
							{{ form_errors(form) }}
						</div>         
						{{ form_widget(form._token) }}
						<div class="title-border-simple cf">
							<h3 class="tt-3 tt-clr bold fleft">Qui êtes-vous ?</h3>
						</div>
            <fieldset>
								<div class="row cf">
                  <input type="radio" name="status" value="0">
									<label> Personne physique</label>
                  <input type="radio" name="status" value="1" class=" resetRight">
									<label> Personne morale</label>
                </div>
						
							<div class="row cf">
								{{ form_widget(form.InscrName) }}
								{{ form_widget(form.InscrNickname) }}
							</div>
					
						</fieldset>
						<fieldset>
							<legend class="bold">Entreprise</legend>
							<div class="row cf">
								{{ form_widget(form.InscrJob) }}
								
								<a href="#" class="tooltip" data-tooltip="Du texte d'exemple pour l'infobulle">Info</a>
								
								<input type="text" value="Nom commercial*" class="resetRight required text">
							</div>
							<div class="row" id="activity">	
								{{ form_widget(form.EntrActivity) }}
								<a href="#" class="tooltip" data-tooltip="Du texte d'exemple pour l'infobulle">Info</a>
								
								{{ form_widget(form.EntrStaff) }}
							</div>

							<div class="row hidden" id="activityList">	
								<select class="resetRight selectSize">
									<option value="0">Ingénierie de la connaissance</option>
									<option value="1">1</option>
									<option value="2">1</option>
									<option value="3">1</option>
								</select>
							</div>
						
						</fieldset>
						<fieldset class="resetBorder">
							<legend class="bold">Profil adhérent</legend>
								<div class="row cf">
									<input type="radio" name="role">
									<label> Fournisseur TIC</label>
									<input type="radio" name="role" class=" resetRight">
									<label> Utilisateur TIC</label>
								</div>
						
							<div class="row">	
								{{ form_widget(form.InscrEmail) }}
								{{ form_widget(form.InscrPersoEmail) }}
							</div>
							<div class="row">	
								{{ form_widget(form.InscrPhone) }}
							</div>

							<div class="id-choice">
								{{ form_row(form.InscrUserName) }}

								<p class="light-clr"><small>Il vous sera demandé à chaque connexion et sera définitif</small></p>
							</div>	
							<p class="light-clr"><span class="tt-clr">*</span> champs obligatoire</p>
						</fieldset>

						<input type="submit" value="ETAPE SUIVANTE" class="fright nextStep">
								
					</form>

				</div>	
			</div>
		</section>	
{% else %}
  {{ render|raw }}
{% endif %}	