{% initJquery 'GRID:grid-table' %}
{% stylesheet getParameter('pi_app_admin.admin.grid_theme_css') %}
{% if NoLayout %}
	{% stylesheet 'bundles/piappadmin/css/layout/admin/screen.css' %}
	{% javascript 'bundles/piappadmin/js/jquery/custom_jquery.js' %}
	{% set layout_nav = 'PiAppTemplateBundle::Template\\Layout\\layout-ajax.html.twig' %}
{% else %}
	{% set layout_nav = app.session.get('wurfl-layout') %}
{% endif %}	
{% extends layout_nav %}

{% block title %}
	<h1>Corporation</h1>
{% endblock %}
 
{% block content %}

	<table id="grid_corporation" class="grid" >
	    <thead>
	        <tr>	            
	            <th class="position" >Position</th>	        
              	<th>Id</th>
              	<th>Mise en avant</th>
	            <th>name</th>	            
	            <th>nickname</th>	            
	            <th>civilité</th>	            
	            <th>job</th>	            
	            <th>activity</th>		            
	            <th>Enabled</th>	        	
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% set num_line = 0 %}
	    {% for entity in entities %}
	        <tr {% if(num_line == 0) %}class="odd"{% endif %}  id='{{ entity.position }}_row_{{ entity.id }}'  >
	        	<td class="position" >{{ entity.position}}</td>	
	            <td><a href="{{ path('admin_gedmo_corporation_show', { 'id': entity.id, 'NoLayout': NoLayout, 'category':category }) }}" title="">{{ entity.id }}</a></td>	
	            <td>
                  {% if entity.highlighted == 1 %}Home Page{% else %}Autres{% endif %}
	            </td>		            
                <td>
	            	{{ entity.Name|limite("0", 55)|raw }}
	            </td>	
	            <td>
	            	{{ entity.Nickname|limite("0", 55)|raw }}
	            </td>	
	            <td>
	            	{{ entity.Civility|limite("0", 55)|raw }}
	            </td>	
	            <td>
	            	{{ entity.Job|limite("0", 55)|raw }}
	            </td>	
	            <td>
	            	{{ entity.Activity|limite("0", 55)|raw }}
	            </td>		
	            <td class="enabled" >{{ entity.enabled}}</td>	
				<td>
					<a href="{{ path('admin_gedmo_corporation_show', { 'id': entity.id, 'NoLayout':NoLayout, 'category':category }) }}" title="{{ 'pi.grid.action.show'|trans }}" class="icon-3 info-tooltip" >&nbsp;</a>
                	<a href="{{ path('admin_gedmo_corporation_edit', { 'id': entity.id, 'NoLayout':NoLayout, 'category':category }) }}" title="{{ 'pi.grid.action.edit'|trans }}" class="icon-1 info-tooltip" >&nbsp;</a>
				</td>	
	        </tr>
	        {% if num_line == 0 %} 
	        	{% set num_line = 1 %}
	        {% else %}
	        	{% set num_line = 0 %}
	        {% endif %}	
	                
	    {% endfor %}
	    </tbody>
	</table>

		{% if NoLayout == false %}
	<!--  start actions-box ............................................... -->
	<div id="actions-box">
		<a href="" class="action-slider"><span>{{ 'pi.grid.action.title'|trans }}</span></a>
		<div id="actions-box-slider">
			<a href="{{ path('admin_gedmo_corporation_new', {'NoLayout':NoLayout, 'category':category}) }}" class="action-edit" title="{{ 'pi.grid.action.create'|trans }}">{{ 'pi.grid.action.create'|trans }}</a>
		</div>
		<div class="clear"></div>
	</div>
	<!-- end actions-box........... -->
	{% endif %}
	
	{% set options_gridtabale = {'grid-name': 'grid_corporation', 'grid-type':'simple', 
			'grid-paginate':'true',
			'grid-filters-select': ['0','1','8', '9'],
			'grid-filters': { 
					'1':'Position',
					'2':'Identifiant',
				},
			'grid-sorting': { 
					'0':'asc',
				},
			'grid-visible': {
				'0':'false',
				'1':'false',
				},						
			'grid-actions': { 
					'rows_grouping': {'columnIndex':2, 'Collapsible':'false', 'HideColumn':'true', 'SortDirection':'desc'},
					'rows_position': {'route':'admin_gedmo_corporation_position_ajax',},
					'rows_enabled': {'sButtonText':'pi.grid.action.row_enabled', 'route':'admin_gedmo_corporation_enabledentity_ajax',},
					'rows_disable': {'sButtonText':'pi.grid.action.row_disable', 'route':'admin_gedmo_corporation_disablentity_ajax'},
					'rows_delete': {'sButtonText':'pi.grid.action.row_delete', 'route':'admin_gedmo_corporation_deletentity_ajax'},
					'select_all': {'sButtonText':'pi.grid.action.select_all'},
					'select_none': {'sButtonText':'pi.grid.action.select_none'},
				}		
			} 			
	%}
	{{ renderJquery('GRID', 'grid-table', options_gridtabale )|raw }}	

{% endblock %}