{% stylesheet getParameter('pi_app_admin.admin.grid_show_css') %}
{% stylesheet getParameter('pi_app_admin.admin.grid_theme_css') %}
{% if NoLayout %}
	{% set layout_nav = 'PiAppTemplateBundle::Template\\Layout\\layout-ajax.html.twig' %}
{% else %}
	{% set layout_nav = app.session.get('wurfl-layout') %}
{% endif %}	
{% extends layout_nav %}

{% block title %}
{% endblock %}
	
{% block content %}

	<table class="grid">
		<caption>Corporation</caption>
	    <tbody>	
	        <tr>
	            <th>Id</th>	
	            <td>{{ entity.id }}</td>	
	        </tr>	
	        <tr>
	            <th>Date</th>	
	            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>	
	        </tr>	        
			<tr>
	        	<th>Media</th>
	        	<td>
	        		Photo
	        		{% if entity.media.image is defined %}
	        			{% media entity.media.image, 'reference' %}
	        		{% endif %}
	        		
	        		<br />
	        		Logo
	        		{% if entity.media2.image is defined %}
	        			{% media entity.media2.image, 'reference' %}
	        		{% endif %}
	        	</td>
	        </tr>  
	        
	        <tr>
	            <th>&nbsp;</th>	
	            <td>&nbsp;</td>	
	        </tr>	        
	        <tr>
	            <th>Login</th>	
	            <td>{{ entity.UserName|trans }}</td>	
	        </tr>	      
	        <tr>
	            <th>{{ 'pi.form.label.field.civility'|trans }}</th>	
	            <td>{{ entity.Civility|trans }}</td>	
	        </tr>		          	
	        <tr>
	            <th>{{ 'pi.form.label.field.name'|trans }}</th>	
	            <td>{{ entity.Name|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.nickname'|trans }}</th>	
	            <td>{{ entity.Nickname|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.profile'|trans }}</th>	
	            <td>{{ entity.Profile|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.employment.job'|trans }}</th>	
	            <td>{{ entity.Job|trans }}</td>	
	        </tr>	        
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.phone'|trans }}</th>	
	            <td>{{ entity.UserPhone|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.email'|trans }}</th>	
	            <td>{{ entity.Email|trans }}</td>	
	        </tr>
	       	<tr>
	            <th>{{ 'pi.form.label.field.email.perso'|trans }}</th>	
	            <td>{{ entity.EmailPerso|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.website'|trans }}</th>	
	            <td>{{ entity.url|trans }}</td>	
	        </tr>	        
	        
	        
	        
	        <tr>
	            <th style="background-color:black;color:white;font-size:21px">{{ 'pi.corporation.form.group.job'|trans }}</th>	
	            <td style="background-color:black">&nbsp;</td>	
	        </tr>	        
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.name'|trans }}</th>	
	            <td>{{ entity.CorporationName|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.name.commercial'|trans }}</th>	
	            <td>{{ entity.CommercialName|trans }}</td>	
	        </tr>	        	        
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.activity'|trans }}</th>	
	            <td>{{ entity.Activity|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.engineering'|trans }}</th>	
	            <td>{{ entity.Engineering|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.detailactivity'|trans }}</th>	
	            <td>{{ entity.DetailActivity|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.legalform'|trans }}</th>	
	            <td>{{ entity.LegalForm|trans }}</td>	
	        </tr>	        
	        	        	             	        	        	        	        	        
	        	        	                
	        	       
	        <tr>
	            <th style="background-color:black;color:white;font-size:21px">{{ 'pi.corporation.form.group.info1'|trans }}</th>	
	            <td style="background-color:black">&nbsp;</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.effectif.national'|trans }}</th>	
	            <td>{{ entity.EffectifNational|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.effectif.regional'|trans }}</th>	
	            <td>{{ entity.EffectifRegional|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.code.naf'|trans }}</th>	
	            <td>{{ entity.CodeNAF|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.siret'|trans }}</th>	
	            <td>{{ entity.Siret|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.ca.national'|trans }}</th>	
	            <td>{{ entity.CaNational|trans }}</td>	
	        </tr>		 
	        
	        
	        <tr>
	            <th style="background-color:black;color:white;font-size:21px">{{ 'pi.corporation.form.group.info2'|trans }}</th>	
	            <td style="background-color:black">&nbsp;</td>	
	        </tr>	        
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.argument.commercial'|trans }}</th>	
	            <td>{{ entity.ArgumentCommercial|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.expertise'|trans }}</th>	
	            <td>{{ entity.Expertise|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.speaker'|trans }}</th>	
	            <td>{{ entity.Speaker|replace({'_':'.'})|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.origin.contact'|trans }}</th>	
	            <td>{{ entity.OriginContact|trans }} {{ entity.OriginContactOther|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.corporation.origin.contact.sponsor'|trans }}</th>	
	            <td>{{ entity.OriginContactSponsor|trans }}</td>	
	        </tr>		     
	        
	        
	        <tr>
	            <th style="background-color:black;color:white;font-size:21px">{{ 'pi.corporation.form.group.social'|trans }}</th>	
	            <td style="background-color:black">&nbsp;</td>	
	        </tr>	        
	        <tr>
	            <th>{{ 'pi.form.label.field.social.facebook'|trans }}</th>	
	            <td>{{ entity.Facebook|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.social.googleplus'|trans }}</th>	
	            <td>{{ entity.GooglePlus|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.social.twitter'|trans }}</th>	
	            <td>{{ entity.Twitter|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.social.linkedin'|trans }}</th>	
	            <td>{{ entity.LinkedIn|trans }}</td>	
	        </tr>
	        <tr>
	            <th>{{ 'pi.form.label.field.social.viadeo'|trans }}</th>	
	            <td>{{ entity.Viadeo|trans }}</td>	
	        </tr>		
	        
	        
	        <tr>
	            <th style="background-color:black;color:white;font-size:21px">{{ 'pi.corporation.form.group.contact.entre'|trans }}</th>	
	            <td style="background-color:black">&nbsp;</td>	
	        </tr>	        
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.main'|trans }}</th>	
	            <td>{{ entity.Address|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.cp'|trans }}</th>	
	            <td>{{ entity.CP|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.city'|trans }}</th>	
	            <td>{{ entity.City|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.country'|trans }}</th>	
	            <td>{{ get_img_flag_By_country(entity.Country, 'balise', "16")|raw }}</td>
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.phone'|trans }}</th>	
	            <td>{{ entity.Phone|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.fax'|trans }}</th>	
	            <td>{{ entity.Fax|trans }}</td>	
	        </tr>	
	        
	        
	        <tr>
	            <th style="background-color:black;color:white;font-size:21px">{{ 'pi.corporation.form.group.contact.entre.mother'|trans }}</th>	
	            <td style="background-color:black">&nbsp;</td>	
	        </tr>	        
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.main'|trans }}</th>	
	            <td>{{ entity.MotherAddress|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.cp'|trans }}</th>	
	            <td>{{ entity.MotherCP|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.city'|trans }}</th>	
	            <td>{{ entity.MotherCity|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.country'|trans }}</th>	
	            <td>{{ get_img_flag_By_country(entity.MotherCountry, 'balise', "16")|raw }}</td>
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.phone'|trans }}</th>	
	            <td>{{ entity.MotherPhone|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.fax'|trans }}</th>	
	            <td>{{ entity.MotherFax|trans }}</td>	
	        </tr>
	        
	        
	        <tr>
	            <th style="background-color:black;color:white;font-size:21px">{{ 'pi.corporation.form.group.contact.entre.facturation'|trans }}</th>	
	            <td style="background-color:black">&nbsp;</td>	
	        </tr>	        
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.main'|trans }}</th>	
	            <td>{{ entity.InvoiceAddress|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.cp'|trans }}</th>	
	            <td>{{ entity.InvoiceCP|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.city'|trans }}</th>	
	            <td>{{ entity.InvoiceCity|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.country'|trans }}</th>	
	            <td>{{ get_img_flag_By_country(entity.InvoiceCountry, 'balise', "16")|raw }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.phone'|trans }}</th>	
	            <td>{{ entity.InvoicePhone|trans }}</td>	
	        </tr>	
	        <tr>
	            <th>{{ 'pi.form.label.field.adress.fax'|trans }}</th>	
	            <td>{{ entity.InvoiceFax|trans }}</td>	
	        </tr>		           	        	        	        	        	               	        	        	        	        
	        	        
	    </tbody>
	</table>

	{% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
	
				
	<ul class="record_actions">
		{% if type == "aderent" %}
		<li>
	        <form action="{{ path('admin_gedmo_list_adherent', { 'NoLayout': NoLayout, 'category':category }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
		</li>
		{% elseif type == "event" %}
		<li>
	        <form action="{{ path('admin_gedmo_lamelee_event_subscribers', { 'NoLayout': NoLayout, 'category':category }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
		</li>
		{% elseif type == "subscriber" %}
		<li>
	        <form action="{{ path('admin_gedmo_individual_subscribers', { 'NoLayout': NoLayout, 'category':category }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
		</li>
        {% else %}
		<li>
	        <form action="{{ path('admin_gedmo_corporation', { 'NoLayout': NoLayout, 'category':category }) }}" method="post">
	            <button type="submit">{{ 'pi.grid.action.back-to-the-list'|trans }}</button>
	        </form>	        
		</li>
		<li>
        <form action="{{ path('admin_gedmo_corporation_edit', { 'id': entity.id, 'NoLayout':NoLayout, 'category':category }) }}" method="post">
            <button type="submit">{{ 'pi.grid.action.update'|trans }}</button>
	        </form>	        
		</li>
        {% endif %}	
		{% if (NoLayout == false) and (type is empty) %}
	    <li>
	        <form action="{{ path('admin_gedmo_corporation_delete', { 'id': entity.id, 'NoLayout':NoLayout, 'category':category }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button type="submit">{{ 'pi.grid.action.delete'|trans }}</button>
	        </form>
	    </li>
	    {% endif %}
	</ul>	
		<script type="text/javascript">
		//<![CDATA[
			$(document).ready(function() {
				$("button[type='submit']").button();
			});
		//]]>
		</script>
		
	{% endif %}		
		
{% endblock %}